<% if !@wx_user.subscribed? %>
  <div class="shoppai shoppai_no" id="J_shoppai">
    <img src="/wap/assets/images/logo.png" class="pailg">
    <p class="paitil">喝吧</p>
    <p class="ovh">
      <span class="paiht">真酒保证</span>
      <span class="paiht">直送餐厅</span>
    </p>
    <a href="javascript:;" class="goshop" id="J_guanzhu">关注公众号</a>
  </div>
<% end %>

<% if @show_pop_banner.present? %>
  <div class="indexout">
   <div class="cont">
      <a href="javascript:;" class="close" id="J_closeio"><img src="/wap/assets/images/item13b.png"></a>
      <a href="<%= @show_pop_banner.url.presence || 'javascript:;' %>" class="gosee dsb"><img src="<%= @show_pop_banner.format_pic_url(width: 590, height: 864) %>"></a>
    </div>
  </div>
<% end %>

<div class="html index" id="J_index">
  <% if EcSlide.swipe.count > 0 %>
    <div class="swipe" id="J_banner">
      <div class="J_main banner">
        <% EcSlide.swipe.each do |slide| %>
          <a href="<%= slide.url || 'javascript:;' %>" class="J_fig fig"><img src="<%= slide.format_pic_url %>" class="bimg"></a>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="wtype_new">
    <% @categories.each do |category| %>
      <a href="<%= wap_items_path(category_id: category.id) %>" class="wtype_n_ls">
        <p class="wtype_n_lslink"><img src="<%= category.format_icon_url %>" class="wtype_n_lsimg"></p>
        <p class="wtype_n_lsname"><%= category.name %></p>
      </a>
    <% end %>
  </div>

  <% EcSlide.banner.each do |slide| %>
    <p class="adva"><a href="<%= slide.url.presence || 'javascript:;' %>" class="dsb"><img src="<%= slide.pic_url %>"></a></p>
  <% end %>

  <% if @ec_shop_recommends.count > 0 %>
    <div class="itembox">
      <p class="itembox_til itembox_tilb">直送餐厅</p>
      <div class="goctbox swipe" id="J_goct">
        <div class="J_main goct">
          <% @ec_shop_recommends.each do |recommend_shop| %>
            <a href="<%= wap_shop_path(recommend_shop.ec_shop) %>" class="J_fig fig">
              <img src="<%= recommend_shop.format_pic_url %>" class="bimg">
            </a>
          <% end %>
        </div>
        <div class="itgocr">
          <div class="J_vice itgocrs">
            <% @ec_shop_recommends.each do |recommend_shop| %>
              <% if recommend_shop.ec_items[0].present? %>
                <a href="<%= wap_item_path(recommend_shop.ec_items[0], shop_id: recommend_shop.ec_shop_id) %>" class="J_fig fig"><img src="<%= recommend_shop.ec_items[0].try(:format_pic_url) %>" class="itgocrimg"><span class="itgocrp">￥<%= f recommend_shop.ec_items[0].try(:price) %></span></a>
              <% else %>
                <a href="javascript:;" class="J_fig fig"><span class="itgocrp"></span></a>
              <% end %>
            <% end %>
          </div>
          <div class="J_vice itgocrs">
            <% @ec_shop_recommends.each do |recommend_shop| %>
              <% if recommend_shop.ec_items[1].present? %>
                <a href="<%= wap_item_path(recommend_shop.ec_items[1], shop_id: recommend_shop.ec_shop_id) %>" class="J_fig fig"><img src="<%= recommend_shop.ec_items[1].try(:format_pic_url) %>" class="itgocrimg"><span class="itgocrp">￥<%= f recommend_shop.ec_items[1].try(:price) %></span></a>
              <% else %>
                <a href="javascript:;" class="J_fig fig"><span class="itgocrp"></span></a>
              <% end %>
            <% end %>
          </div>
          <div class="J_vice itgocrs">
            <% @ec_shop_recommends.each do |recommend_shop| %>
              <% if recommend_shop.ec_items[2].present? %>
                <a href="<%= wap_item_path(recommend_shop.ec_items[2], shop_id: recommend_shop.ec_shop_id) %>" class="J_fig fig"><img src="<%= recommend_shop.ec_items[2].try(:format_pic_url) %>" class="itgocrimg"><span class="itgocrp">￥<%= f recommend_shop.ec_items[2].try(:price) %></span></a>
              <% else %>
                <a href="javascript:;" class="J_fig fig"><span class="itgocrp"></span></a>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="itembox itembox_nob">
    <% EcCategory.product_category.recommend.order("position asc").each do |category| %>
      <p class="itembox_til itembox_tild"><%= category.name %></p>
      <div class="itembox_cont">
        <div class="wlist">
          <% category.ec_products.onshelf.recommend.order("ec_products.position asc").limit(6).each do |product| %>
            <a href="<%= wap_item_path(product.ec_item) %>" class="witem">
              <p><img src="<%= product.ec_picture.try(:format_pic_url) %>" class="witem_img"></p>
              <p class="witem_name"><%= product.name %></p>
              <p class="witem_pn"><span class="witem_p">￥<%= f product.ec_item.price %></span>已售&ensp;<%= product.ec_item.sold_qty_text %></p>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- <p class="nomore" id="J_nomore"><img src="/wap/assets/images/nomore.png" class="noimg"><span id="J_more_text">点击加载更多</span></p> -->
</div>

<div class="isearch" id="J_isearch">
  <div class="topline">
    <input type="text" placeholder="酒名/产地" id="J_sinput" class="ctrol">
    <a href="javascript:;" class="cal" id="J_cal">取消</a>
  </div>
  <div class="recokeys">
    <p class="tila">热搜</p>
    <div class="rkeys ovh" id="J_rkeys"></div>
  </div>
  <div class="rhises">
    <p class="tilb">历史搜索</p>
    <div class="rhisbox" id="J_rhises"></div>
    <a href="javascrpt:;" class="nohis" id="J_nohis">清除搜索记录</a>
  </div>
  <div class="result" id="J_result"></div>
  <div class="empty dsn" id="J_empty">
    <img src="/wap/assets/images/adr_em.png" class="eimg">
    <p class="etext">暂无搜索结果</p>
  </div>
</div>

<div class="guanzhu" id="J_gzbox">
  <img src="/wap/assets/images/guan.png" class="guan">
  <a href="javascript:;" class="close" id="J_closegz"></a>
</div>

<script type="text/javascript">
    $(function(){
        var page = 1;

        <% if EcSlide.swipe.count > 0 %>
          new Swipe({
            elm:document.getElementById('J_banner')
          });
        <% end %>

        <% if @ec_shop_recommends.count > 0 %>
          new Swipe({
            elm:document.getElementById('J_goct')
          });
        <% end %>

        $('#J_guanzhu').click(function(){
            $('#J_gzbox').show()
        });
        $('#J_closegz').click(function(){
            $('#J_gzbox').hide();
        });

        $('#J_closeio').click(function(){
          $('.indexout').hide();
        });

        var J_isearch = $('#J_isearch'),
            J_sinput = $('#J_sinput'),
            J_cal = $('#J_cal'),
            J_rkeys = $('#J_rkeys'),
            J_rhises = $('#J_rhises'),
            J_nohis = $('#J_nohis'),
            J_index = $('#J_index'),
            J_botnav = $('#J_botnav'),
            J_result = $('#J_result'),
            J_empty = $('#J_empty'),
            J_shoppai = $('#J_shoppai');

        if(J_shoppai.length){
            J_isearch.addClass('haspai');
        };

        J_sinput.on('focus',function(){
            J_isearch.addClass('isearch_focus')
            if(J_shoppai.length){
                setTimeout(function(){
                  J_isearch.removeClass('haspai');
                  J_shoppai.hide();
                },20);
            };
            J_botnav.hide();
            J_index.hide();
        }).on('blur',function(){
            var v = $(this).val().trim();
            if(v){
                inlocal(v);
            };
        }).on('change',function(){
            var v = $(this).val().trim();
            if(v){
                J_isearch.addClass('isearch_active');
                getres(v);
            }else{
                J_isearch.removeClass('isearch_active');
            };
        });

        function inlocal(v){
            var isin = false;
            for(var i=0;i<hislen;i++){
                if(his[i]==v){
                    isin = true;
                }
            };
            if(!isin){
                var arr = [];
                arr.push(v);
                localStorage.shisstr = JSON.stringify(arr.concat(his));
            };
        };

        // 获取搜索结果
        function getres(key){
            // 获取搜索结果
            $.ajax({ 
                type: "GET",
                url: "/wap/search",
                data: {key},
                dataType: "json",
                success: function(res){
                    if(res.code){
                        var dt = res.data;
                        if(dt && dt.length){
                            var len = dt.length,str = '';
                            for(var i=0;i<len;i++){
                                str += '<a href="/wap/items/'+dt[i].id+'" class="res">'+dt[i].key+'</a>';
                            };
                            J_empty.hide();
                            J_result.html(str);
                        }else{
                            J_result.hide();
                            J_empty.show();
                        }
                    }
                }
            });
        };

        J_cal.click(function(){
            J_index.show();
            J_botnav.show();
            J_isearch.removeClass('isearch_focus');
            J_isearch.removeClass('isearch_active');
            J_sinput.val('');
            if(J_shoppai.length){
                J_isearch.addClass('haspai');
                J_shoppai.show();
            };
        });

        // var isajax = false; //设置开关 防止重复提交

        // 获取推荐搜索
        $.ajax({ 
            type: "GET",
            url: "/wap/recohis",
            data: {},
            dataType: "json",
            success: function(res){
                if(res.code){
                    var dt = res.data,len = dt.length,str = '';
                    for(var i=0;i<len;i++){
                        str += '<a href="/wap/search?key='+dt[i]+'" class="rkey">'+dt[i]+'</a>';
                    };
                    J_rkeys.html(str);
                }
            }
        });

        var his = JSON.parse(localStorage.shisstr||"[]")||[],
            hislen = his.length;

        if(hislen){
            if(hislen>6){
                his.splice(6);
                hislen = 6;
            };
            var hstr = '';
            for(var i=0;i<hislen;i++){
                hstr += '<a href="/wap/search?key='+his[i]+'" class="rhis">'+his[i]+'</a>';
            };
            J_rhises.html(hstr);
        }else{
            J_nohis.html('暂无搜索记录');
        };
        J_nohis.click(function(){
            localStorage.shisstr = JSON.stringify([]);
            J_rhises.html('');
        });

        var J_nomore = $('#J_nomore'),
            J_more_text = $('#J_more_text'),
            isajax = false,//设置开关 防止重复提交;
            isdone = false; // 数据是否加载完毕

        J_nomore.click(function(){
            if(isajax || isdone){
                return false;
            }

            isdone = true;
            J_more_text.html("没有更多了");
            return false;

            page++;

            console.log(page);

            // 加载开始时文案提示
            J_more_text.html('正在加载···');
            isajax = true;
            $.ajax({ 
                type: "GET",
                url: "/wap/more",
                data: {page},
                dataType: "json",
                success: function(res){
                    if(res.code){
                        var dt = res.data,len = dt.length,str = '', total = res.total;
                            J_more_text.html("点击加载更多");
                            isajax = false;

                        for (var i = dt.length - 1; i >= 0; i--) {
                            var html = '<a href="/wap/items/'+dt[i].id+'" class="witem"><p><img src="'+dt[i].img+'" class="witem_img"></p><p class="witem_name">'+dt[i].name+'</p><p class="witem_pn"><span class="witem_p">￥'+dt[i].price+'</span>已售&ensp;'+dt[i].sold_qty+'</p></a>';
                            $('.wlist').append(html);
                        }

                        var dt = res.data,len = dt.length,str = '', total = res.total;
                            J_more_text.html("点击加载更多");
                            isajax = false;

                        if((page * 6)>=total){
                            isdone = true;
                            J_more_text.html("没有更多了");
                        }else{
                            J_more_text.html("点击加载更多");
                        };

                        // ruby渲染dom

                        // // 判断是否加载完成和数据加载完成状态
                        // if(len<res.data.pagesize){
                        //     isdone = true;
                        //     J_more_text.html("没有更多了");
                        // }else{
                        //     J_more_text.html("点击加载更多");
                        // };
                    }
                }
            });

        });
    });
</script>
