<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '商城设置', ec_slides_path %></li>
        <li><%= link_to '物流公司', ec_logistic_companies_path %></li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <%= render "ec/logistic_companies/top_logistic_companies" %>

      <div class="row">
        <div class="col-xs-12 margin-top-20">
          <div class="pull-right">
            <%= link_to '新增', 'javascript:;', data: {toggle: 'modals', height: '300', title: '新增物流公司', iframe: new_ec_logistic_company_path}, class: 'btn btn-primary btn-sm' %>
          </div>
        </div>

        <div class="col-sm-12 margin-top-10">
          <table id="goodsTable" class="table table-striped table-bordered table-hover dataTable ">
            <thead>
            <tr>
              <th width="80%;">名称</th>
              <th width="20%;">操作</th>
            </tr>
            </thead>
            <tbody id="colleges_body">
            <% @logistic_companies.each do |logistic_company| %>
                <tr>
                  <td><%= logistic_company.name %></td>
                  <td class="txt-left-align">
                    <%= link_to '编辑', 'javascript:;', data: {toggle: 'modals', height: '300', title: '编辑价位', iframe: edit_ec_logistic_company_path(logistic_company)} %>
                    <%#= link_to '删除', ec_logistic_company_path(logistic_company), data: {method: :delete, confirm: '确定删除吗？'} %>
                  </td>
                </tr>
            <% end %>
            <% if @logistic_companies.blank? %>
              <tr><td colspan="5">无记录</td></tr>
            <% end %>
            </tbody>
          </table>
          <%= paginate @logistic_companies %>
        </div>
      </div>

    </div>
  </div>
<% end %>
