<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微信基础设置', replies_path %></li>
        <li><%= link_to '用户查询', wx_users_path %></li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="row">

        <div class="col-md-12">
          <div class="alert alert-block alert-info">
            <strong class="pull-left">提示：</strong>
            <ul class="vwebsiteHeadAlert">
              <li>当用户在微信公众号输入相应的关键字时，如果能和如下功能相匹配会回复相应的内容。</li>
            </ul>
          </div>
        </div>

        <%= form_for @search, url: wx_users_path, html: { method: :get } do |f| %>
          <div class="col-sm-12">
            <div class="col-md-3 row">
              <div class="input-group input-group-text">
                <span class="input-group-addon">用户昵称：</span>
                <%= f.text_field :nickname_like, class: "col-xs-12" %>
              </div>
            </div>
            <div class="col-md-3 row">
              <div class="input-group input-group-text">
                <span class="input-group-addon">手机手机：</span>
                <%= f.text_field :user_mobile_like, class: "col-xs-12" %>
              </div>
            </div>
            <div class="col-md-3 row">
              <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
            </div>
          </div>
        <% end %>

        <div class=" col-md-12 margin-top-10">
          <table id="keyWordsTable" class="table table-striped table-bordered table-hover dataTable m">
            <thead>
              <tr>
                <th>用户昵称</th>
                <th>手机号码</th>
                <th>用户头像</th>
                <th>地址信息</th>
                <th>openid</th>
                <th>关注状态</th>
                <th>关注时间</th>
              </tr>
            </thead>
            <tboday>
              <% @wx_users.each do |wx_user| %>
                <tr>
                  <td><%= wx_user.nickname %></td>
                  <td><%= wx_user.user.try(:mobile) %></td>
                  <td><%= image_tag wx_user.headimgurl, size: '50x50' if wx_user.headimgurl.present? %></td>
                  <td><%= wx_user.country %><%= wx_user.province %><%= wx_user.city %></td>
                  <td><%= wx_user.openid %></td>
                  <td><%= wx_user.subscribe_name %></td>
                  <td><%= wx_user.subscribe_time %></td>
                </tr>
              <% end %>
              <% if @users.count == 0 %>
                <tr><td colspan="7"><span class="fgreen">还没有用户</span></td></tr>
              <% end %>
            </tboday>
          </table>
          <%= paginate @users %>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
<% end %>
