<%= form_for @employee, validate: true, :html => {id: "employee-form", role: "form" } do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">登录账号<span class="required-star">*</span></label>
      <div class="clearfix">
        <% if @employee.manager? %>
          <%= f.text_field :name, class: 'form-control', autocomplete: 'off', readonly: true %>
        <% else %>
          <%= f.text_field :name, class: 'form-control', autocomplete: 'off', style: 'display: inline; width: 80%;' %>@<%= current_employee.account_id %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">登录密码<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.password_field :password, maxlength: 50, class: "col-xs-12" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">手机号码</label>
      <div class="clearfix">
        <%= f.text_field :mobile, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">邮箱</label>
      <div class="clearfix">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
<!-- 
    <div class="form-group">
      <label class="control-label">性别</label>
      <div class="clearfix">
        <%= f.select :gender, Employee.gender_options, {}, class: "form-control" %>
      </div>
    </div>
 -->
    <div class="form-group">
      <label class="control-label">状态</label>
      <div class="clearfix">
        <%= f.select :status, Employee.status_options, {}, class: "form-control" %>
      </div>
    </div>

    <% unless @employee.manager? %>
    <%= hidden_field_tag 'employee[employee_role_ids][]', '' %>
    <div class="form-group">
      <label class="control-label">角色<span class="required-star">*</span></label>
      <div class="clearfix">
        <% current_employee.employee_roles.find_each do |employee_role| %>
          <label>
          <%= check_box_tag 'employee[employee_role_ids][]', employee_role.id, @employee.employee_roles.include?(employee_role), @employee.new_record? ? {checked: false} : {} %>
            <%= employee_role.name %>
          </label>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-sm btn-primary" data-fn="submit" value="确定" />
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>
