<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li><%= link_to '账号权限' %></li>
          <li><%= link_to '员工管理', employees_path %></li>
        </ul>
        <%#= render '/layouts/qrcode' %>
      </div>

      <div class="page-content">
        <div class="row">

          <div class="col-md-12">
<!--             <div class="col-md-2 row">
              <%= form_for @search, url: employees_path, html: { method: :get } do |f| %>
              <div class="input-group input-group-sm input-group-text">
                <%= f.text_field :name_like, placeholder:"请输入姓名", class: 'col-xs-12' %>
                <span class="input-group-addon">
                    <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
                </span>
              </div>
              <% end %>
            </div> -->
            <div class="col-md-10 row pull-right">
              <%= link_to '新增', 'javascript:;', class: 'btn btn-primary btn-sm pull-right', data: {toggle: 'modals', target: 'employeeModal', title: "新增员工", width: '400', height:"550", iframe: new_employee_path}%>
            </div>
          </div>

          <div class=" col-md-12 margin-top-10">
            <table id="employeesTable" class="table table-striped table-bordered table-hover dataTable m">
              <thead>
                  <tr>
                    <th>登录账号</th>
                    <th>姓名</th>
                    <th>手机号码</th>
                    <th>邮箱</th>
                    <!-- <th>性别</th> -->
                    <th>所属角色</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                  </tr>
              </thead>
              <tboday>
                <% @employees.each do |employee| %>
                    <tr>
                      <td><%= employee.login %></td>
                      <td><%= employee.username %></td>
                      <td><%= employee.mobile %></td>
                      <td><%= employee.email %></td>
                      <!-- <td><%= employee.gender_name %></td> -->
                      <td><%= employee.employee_roles.pluck(:name).uniq.join(', ')%></td>
                      <td><%= employee.status_name%></td>
                      <td><%= employee.created_at%></td>
                      <td>
                        <%= link_to '编辑', 'javascript:;', data: {toggle: 'modals', target: 'employeeModal', title: '员工编辑', width: '400', height: '550', iframe: edit_employee_path(employee)} %>
                        <%= link_to '删除', employee_path(employee), data: {confirm: '确认删除？', url: employee_path(employee), method: :delete} %>
                      </td>
                    </tr>
                <% end %>
              </tboday>
            </table>
            <%= paginate @employees %>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>

    </div>

<% end %>
