<div class="botnav" id="J_botnav">
  <a href="<%= wap_root_path %>" class="bn_ls <%= 'bn_ls_active' if controller_name =~ /home/ %>">
    <p class="bn_icon bn_icona"></p>
    <p class="bn_name">首页</p>
  </a>
  <a href="<%= wap_categories_path %>" class="bn_ls <%= 'bn_ls_active' if controller_name =~ /categories/ %>">
    <p class="bn_icon bn_iconb"></p>
    <p class="bn_name">分类</p>
  </a>
  <a href="<%= wap_shops_path %>" class="bn_ls bn_cen <%= 'bn_ls_active' if controller_name =~ /shop/ %>">
    <p class="bn_hos">
      <span class="bn_ho bn_hoa"></span>
      <span class="bn_ho bn_hob"></span>
      <span class="bn_ho bn_hoc"></span>
    </p>
    <p class="bn_name">直送餐厅</p>
  </a>
  <a href="<%= wap_cart_items_path %>" class="bn_ls <%= 'bn_ls_active' if controller_name =~ /cart_items/ %>">
    <p class="bn_icon bn_iconc"></p>
    <p class="bn_name">购物车</p>
  </a>
  <a href="<%= wap_users_path %>" class="bn_ls <%= 'bn_ls_active' if controller_name =~ /users|favorites/ %>">
    <p class="bn_icon bn_icond"></p>
    <p class="bn_name">我的</p>
  </a>
</div>
<script type="text/javascript">
  // $(function(){
  //   $(".bn_ls").click(function(){
  //     $(this).addClass('bn_ls_active').siblings().removeClass('bn_ls_active');
  //   });
  // });
</script>
