<div class="ft ft-comment">
  <h3>热门评论 <%= comment.commentable.reload.comments.count %></h3>
  <% if comments.count > 0 %>
    <% comments.each do |comment| %>
      <div class="ft-list">
        <div class="frb">
          <% wx_user = comment.commenter.try(:wx_user) %>
          <div class="wx-user-avatar"><%= image_tag wx_user.try(:headimgurl_with_default) %></div>
          <div class="tr-comment">
            <b><%= comment.commenter.try(:name) || wx_user.try(:nickname) %>
              <% unless comment.try(:reply) %>
                <i class="reply-comment" data-id="<%= comment.id %>" data-name="<%= comment.commenter.try(:name) || wx_user.try(:nickname) %>" id="reply-comment" style="position:absolute;right:5%;    margin-top: -5px;"><img src="http://img.1nongfu.com/new-comment1.png" data-up="false" width="20px;"></i>
              <% end %>
            </b>
            <span>
              <i class="fl"><%= date_format_full comment.created_at %></i>
            </span>
            <p class="comment"><%= comment.comment %> </p>

            <% if comment.try(:reply) %>
              <span class="reply comment">回复：<%= comment.try(:reply) %></span>
            <% end %>
          </div>  
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="ft-list" style="text-align: center">暂无评论</div>
  <% end %>
</div>
