<style type="text/css">
  /* fix btn vertical-align */
  .btn {
    border-style:solid;cursor:pointer;text-align:center;
    display:inline-block;/*FF2.0*/-moz-display:inline-block;
    padding:0 10px 1px;*padding:3px 3px 1px;_padding:0 4px 1px;
    line-height:18px;*line-height:14px;_line-height:16px;
    height:23px;font-size:12px;
  }
</style>

<!-- <div class="hd">
  <h2 class="ellipsis">发表评论</h2>
</div> -->
<div class="bd">
  <div class="frb">
    <%= form_for([:mobile, comment], remote: true) do |f| %>
      <%= f.hidden_field :site_id %>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :commenter_id %>
      <%= f.hidden_field :commenter_type %>
      <%= f.hidden_field :id %>
      <div>
        <div class="bd-comment">
          <%= f.text_field :comment, placeholder: "请输入您的评论", maxlength: 200 %>
          <!-- <div class="bd-face">
            <span class="frb">字数限制在200以内</span>
          </div> -->
        </div>
        <div class="comment-submit">
          <%= f.submit "发布", class: "btn form-submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".btn").click(function(){
      if($("#comment_comment").val() == ''){
        alert("评论不能为空！");
        $("#comment_comment").focus();
        return false;
      }else {
        alert("评论成功！");
      }
    });

    $("body").on("click", ".reply-comment", function(){
      console.log(11)
      $("#comment_id").val($(this).attr("data-id"));
      $("#comment_comment").focus().val('回复' + $(this).attr("data-name") + '://');
    })
  });
</script>
