<% title "订单详情" %>
<div class="html order_detial" id="J_html">
    <p class="topline">订单号：<%= @order.order_no %><span class="pstate"><%= @order.status_name %></span></p>

    <% unless @order.pending? %>
        <p class="topline">取货码：<%= @order.captcha %></p>
    <% end %>

    <div class="paytype">
        <% if @order.self_pickup? %>
            <a href="javascript:;" class="">
                <p class="pt_til"><span class="pt_ado">配送方式</span>用户自提</p>
            </a>
        <% elsif @order.restaurant? %>
            <a href="javascript:;" class="" id="<%= 'J_paytype' if @order.pending? || @order.waiting? %>" data-type="2" data-aid="" data-shopname="" data-day="" data-timepart="" data-phone="" data-name="" data-sheng="" data-shi="" data-qu="" data-street="" data-address="">
                <p class="pt_til"><span class="pt_ado">配送方式</span><%= @order.delivery_type_name %></p>
                <p class="pt_sn"><%= @order.ec_shop.try(:name) %></p>
                <p class="pt_text"><%= @order.dining_date.try(:strftime, "%m-%d") %>(<%= display_wday(@order.dining_date) %>)  <%= @order.start_dining_at.try(:strftime, "%H:%M") %>-<%= @order.end_dining_at.try(:strftime, "%H:%M") %>  就餐</p>
                <p class="pt_text"><%= @order.mobile %>  <%= @order.username %></p>
                <p class="pt_adr"><%= @order.address_display %></p>
            </a>
        <% elsif @order.home? %>
            <a href="javascript:;" class="" id="<%= 'J_paytype' if @order.pending? || @order.waiting? %>" data-type="1" data-aid="" data-shopname="" data-day="" data-timepart="" data-phone="" data-name="" data-sheng="" data-shi="" data-qu="" data-street="" data-address="">
                <p class="pt_til"><span class="pt_ado">配送方式</span><%= @order.delivery_type_name %></p>
                <!-- <p class="pt_text">04-16(星期日)  15:00-17:00  就餐</p> -->
                <p class="pt_text"><%= @order.mobile %>  <%= @order.username %></p>
                <p class="pt_adr"><%= @order.address_display %></p>
            </a>
        <% end %>
    </div>
    <div class="plist">
        <% @order.ec_order_items.each do |order_item| %>
            <a href="<%= wap_item_path(order_item.ec_item) %>" class="i_proc" data-hid="2" data-pid="<%= order_item.id %>" data-tid="<%= order_item.ec_item.id %>" data-price="<%= f order_item.ec_item.price %>" data-num="<%= order_item.qty %>" data-name="<%= order_item.ec_item.ec_product.name %>" data-pimg="<%= order_item.ec_item.ec_product.ec_pictures.first.try(:format_pic_url) %>">
                <img src="<%= order_item.ec_item.ec_product.ec_pictures.first.try(:format_pic_url) %>" class="i_pimg">
                <p class="i_pname"><%= order_item.product_name %></p>
                <p class="i_pnor">规格：<%= order_item.ec_item.name %></p>
                <p class="i_prica"><span class="i_pricb">￥</span><%= f order_item.price %><span class="i_pnum">x<%= order_item.qty %></span></p>
            </a>
        <% end %>
    </div>

    <% if @order.need_invoice %>
        <div class="fapiao">
            <p class="fp_til">发票信息<span class="fp_ado">开发票</span></p>
            <p class="fp_text">发票类型：<%= @order.invoice_type_name %></p>
            <p class="fp_text mt10">发票抬头：<%= @order.invoice_title %></p>
        </div>
    <% else %>
        <div class="fapiao">
            <p class="fp_til">发票信息<span class="fp_ado">不开发票</span></p>
        </div>
    <% end %>

    <p class="liuy"><%= @order.description || "买家无留言" %></p>

    <div class="pinfo">
        <div class="plines">
            <p class="pline"><span class="pline_ado">商品金额</span>￥<%= f @order.total_amount %></p>
            <p class="pline"><span class="pline_ado">运费</span>￥<%= f @order.freight_value %></p>
        </div>
        <p class="ptotal">实付款：<span class="m">￥</span><span class="mo"><%= f @order.pay_amount %></span></p>
        <p class="otime">下单时间：<%= @order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
    </div>

    <% if !(@order.finished? || @order.waiting?) %>
    <div class="i_bot">
        <!-- 待付款 start -->
        <% if @order.pending? %>
            <% if @order.order_rule.is_auto_expire? %>
                <div class="backtime">
                    <p class="btime" id="J_btime">&ensp;</p>
                    <p class="btp">支付剩余时间</p>
                </div>
            <% end %>
            <a href="javascript:;" class="J_order_cancal i_btn">取消订单</a><a href="javascript:;" class="J_order_pay i_btn i_btn_red">去支付</a>
        <!-- 已发货 start -->
        <% elsif @order.delivered? %>
            <a href="javascript:;" id="J_buynow" class="i_btn i_btn_red">再来一单</a>
            <a href="https://m.kuaidi100.com/result.jsp?nu=<%= @order.logistic_no %>" class="i_btn">查看物流</a>
        <% elsif @order.arrived? %>
            <a href="javascript:;" id="J_buynow" class="i_btn i_btn_red">再来一单</a>
            <% unless @order.self_pickup? %>
                <a href="https://m.kuaidi100.com/result.jsp?nu=<%= @order.logistic_no %>" class="i_btn">查看物流</a>
            <% end %>
            <a href="javascript:;" class="J_order_sure i_btn i_btn_red_o">确认收货</a>
        <!-- 申请退款中 start -->
        <%# elsif @order.refunding? %>
            <!-- <a href="refund.html?ordernumber=3453452345" class="i_btn">退款详情</a> -->
        <!-- 已付款 start -->
        <%# elsif @order.paid? %>
            <!-- <a href="javascript:;" data-onumber="234253452345" class="J_order_address i_btn i_btn_l">修改送货地址</a><a href="javascript:;" class="J_order_refund i_btn i_btn_red">申请退款</a> -->
        <!-- 已完成 start -->
        <% elsif @order.confirmed? %>
            <a href="<%= new_wap_comment_path(order_id: @order.id) %>" class="i_btn">去评价</a>
            <%# if @order.ec_order_items.count == 1 %>
                <a href="javascript:;" id="J_buynow" class="i_btn i_btn_red">再来一单</a>
            <%# end %>
        <!-- 已关闭 start -->
        <% elsif @order.canceled? %>
            <a href="javascript:;" id="J_buynow" class="i_btn i_btn_red">再来一单</a>
            <a href="javascript:;" class="J_order_delete i_btn">删除订单</a>
        <!-- 已退款 start -->
        <%# elsif @order.refunded? %>
            <!-- <a href="javascript:;" class="i_btn">退款详情</a> -->
        <% end %>
    </div>
    <% end %>
</div>
<!-- 支付弹框 -->
<div class="pop pop_pay" id="J_pop_pay">
    <a href="javascript:;" class="J_close_pop close_pop" data-target="#J_pop_pay"></a>
    <div class="pop_cont">
        <a href="javascript:;" class="way" id="J_pay_wx" data-onumber="23423423423"><img src="/wap/assets/images/pay01.png" class="waym"><p class="waytil">微信支付</p><p class="waytp">微信安全支付</p></a>
        <a href="javascript:;" class="way" id="J_pay_alipay"><img src="/wap/assets/images/pay02.png" class="waym"><p class="waytil">支付宝支付</p><p class="waytp">方便、快捷、安全</p></a>
    </div>
</div>

<!-- 修改地址弹框 -->
<div class="pop pop_adr" id="J_pop_adr">
    <a href="javascript:;" class="J_close_pop close_pop" data-target="#J_pop_adr"></a>
    <div class="pop_cont">

    </div>
</div>

<!-- <a href="<%= wap_users_path %>" class="homebtn">个人<br>中心</a> -->

<!-- ////////////////////////////////////////start/////////////////////////////////////////// -->
<div class="pop" id="J_pop_all">
    <a href="javascript:;" class="J_close_pop close_pop" data-target="#J_pop_all"></a>
    <!-- 地址类型选择 start -->
    <div class="J_pop_slide pop_slide pop_adtype" id="J_pop_adtype">
        <p class="ptil">选择配送方式<a href="javascript:;" class="J_close_pop pclose" data-target="#J_pop_all"></a></p>
        <div class="pop_adts">
            <a href="javascript:;" class="J_pop_adt pop_adt" data-type="1">
                <img src="/wap/assets/images/type01b.png" class="pop_adt_ico">
                <p class="pop_adt_name">配送到家</p>
            </a>
            <a href="javascript:;" class="J_pop_adt pop_adt" data-type="2">
                <img src="/wap/assets/images/type01a.png" class="pop_adt_ico">
                <p class="pop_adt_name">配送到餐厅酒柜</p>
            </a>
        </div>
    </div>
    <!-- end -->
    <!-- 地址类型选择 start 需后端渲染-->
    <div class="J_pop_slide pop_slide pop_house" id="J_pop_house">
        <p class="ptil">收货地址<a href="javascript:;" class="J_close_pop pclose" data-target="#J_pop_all"></a> <a href="javascript:;" class="J_pop_back pback" data-from="#J_pop_house" data-to="#J_pop_adtype"></a></p>
        <div class="pop_hous" id="J_pop_hous">
            <% if @user.ec_addresses.blank? %>
                <div class="pop_empty">
                    <img src="/wap/assets/images/adr_em.png" class="eimg">
                    <p class="etext">暂无收货地址</p>
                </div>
            <% else %>
                <% @user.ec_addresses.each do |address| %>
                    <div class="pop_hou">
                        <a href="javascript:;" class="J_adr_edit adr_edit" data-aid="<%= address.id %>" data-name="<%= address.username %>" data-phone="<%= address.mobile %>" data-sheng="<%= address.province_id %>" data-shi="<%= address.city_id %>" data-qu="<%= address.district_id %>" data-street="<%= address.address %>" data-address="<%= address.address_display %>"></a>
                        <a href="javascript:;" class="J_adr_select adr_select " data-aid="<%= address.id %>" data-name="<%= address.username %>" data-phone="<%= address.mobile %>" data-sheng="<%= address.province_id %>" data-shi="<%= address.city_id %>" data-qu="<%= address.district_id %>" data-street="<%= address.address %>" data-address="<%= address.address_display %>">
                            <p class="pop_hou_t"><%= address.username %>&ensp;&ensp;<%= address.mobile %></p>
                            <p class="pop_hou_b"><%= address.address_display %></p>
                        </a>
                    </div>
                <% end %>
            <% end %>
        </div>
        <p class="J_pop_bot pop_bot"><a href="javascript:;" id="J_hos_new" class="pop_bot_btn">+新增收货地址</a></p>
    </div>
    <!-- end -->
    <!-- 新建家庭地址 start -->
    <div class="J_pop_slide pop_slide pop_hounew" id="J_pop_hounew">
        <p class="ptil">收货地址<a href="javascript:;" class="J_close_pop pclose" data-target="#J_pop_all"></a><a href="javascript:;" class="J_pop_back pback" data-from="#J_pop_hounew" data-to="#J_pop_house"></a></p>
        <div class="pop_hnews">
            <div class="formline">
                <div class="fline">
                    <div class="input_line"><input type="text" name="" class="ctrol" placeholder="请填写收货人姓名" id="J_name_h"></div>
                </div>
                <div class="fline">
                    <div class="input_line"><input type="text" name="" class="ctrol" placeholder="请填写收货电话" id="J_phone_h"></div>
                </div>
                <div class="fline">
                    <div class="input_select">
                        <select class="ctrol ctrol_select" id="J_sheng">
                            <option value="0">选择省</option>
                            <% Province.pluck(:id, :name).each do |province| %>
                                <option value="<%= province[0] %>"><%= province[1] %></option>
                            <% end %>
                        </select>
                        <select class="ctrol ctrol_select" id="J_shi">
                            <option value="0">选择市</option>
                            <!-- <option value="1">上海市</option> -->
                        </select>
                        <select class="ctrol ctrol_select" id="J_qu">
                            <option value="0">选择区</option>
                            <!-- <option value="1">浦东新区</option>
                            <option value="2">长宁区</option> -->
                        </select>
                    </div>
                </div>
                <div class="fline">
                    <div class="input_line"><input type="text" name="" class="ctrol" placeholder="请填写详细地址，不少于5个字" id="J_detial"></div>
                </div>
            </div>
        </div>
        <p class="J_pop_bot pop_bot"><a href="javascript:;" id="J_hounew_save" class="pop_bot_btn">保存</a></p>
    </div>
    <!-- end -->
    <!-- 配送到餐厅酒柜 start 需后端渲染餐厅地址-->
    <div class="J_pop_slide pop_slide pop_canting pop_adr" id="J_pop_canting" style="height:100%;">
        <p class="ptil">配送到餐厅酒柜<a href="javascript:;" class="J_close_pop pclose" data-target="#J_pop_all"></a><a href="javascript:;" class="J_pop_back pback" data-from="#J_pop_canting" data-to="#J_pop_adtype"></a></p>

        <div class="pmaxheight pl10">
            <div class="J_pop_line pop_line pop_line_right" data-target="#J_pop_chosesp"><span class="pop_ado">就餐门店</span><p class="pop_ltext" id="J_can_name">选择配送餐厅</p></div>
            <div class="J_pop_line pop_line pop_line_right" data-target="#J_pop_chosetime"><span class="pop_ado">就餐时间</span><p class="pop_ltext"><span id="J_pday_in"></span>&ensp;&ensp;<span id="J_ptime_in"></span></p></div>
            <div class="pop_line"><span class="pop_ado">就餐人姓名</span><p class="pop_ctrol"><input type="text" name="" id="J_name" class="J_focus ctrol" placeholder="请填写就餐人姓名" value="<%= @order.username %>"></p></div>
            <div class="pop_line"><span class="pop_ado">就餐人电话</span><p class="pop_ctrol"><input type="tel" name="" id="J_phone" class="J_focus ctrol" placeholder="请填写就餐人手机号" value="<%= @order.mobile %>"></p></div>
        </div>

        <p class="J_pop_bot pop_bot"><a href="javascript:;" id="J_saveadr" class="pop_bot_btn">确定</a></p>
    </div>
    <!-- end -->
</div>
<!-- ////////////////////////////////////////end/////////////////////////////////////////// -->


<div class="pop" id="J_pop_all_part" style="z-index: 10;">
    <!-- 选择就餐门店 start -->
    <div class="J_pop_slide pop_slide pop_adr" id="J_pop_chosesp">
        <p class="ptil">选择就餐门店<a href="javascript:;" class="J_close_pop_part pclose" data-target="#J_pop_all_part"></a></p>
        <div class="psubbox_bot">
            <% EcShop.pass.each do |shop| %>
                <a href="javascript:;" data-aid="<%= shop.id %>" data-shopname="<%= shop.name %>" data-address="<%= shop.address_display %>" class="J_padr padr">
                    <p class="padr_name"><%= shop.name %></p>
                    <p class="padr_map"><%= shop.address_display %></p>
                </a>
            <% end %>
        </div>
    </div>
    <!-- end -->
    <!-- 选择就餐时间 start -->
    <div class="J_pop_slide pop_slide pop_adr" id="J_pop_chosetime">
        <p class="ptil">选择就餐时间<a href="javascript:;" class="J_close_pop_part pclose" data-target="#J_pop_all_part"></a></p>
        <div class="psubbox_bot ovh">
            <div class="pstime" id="J_pday"></div><div class="pstime" id="J_ppart"></div>
        </div>
    </div>
    <!-- end -->
    
</div>

<script type="text/javascript">
    var data = {};
        data.address = [];

    var J_html = $('#J_html');


    // 列表页用ajax实现
    $(function(){



        // 根据状态渲染已下倒计时效果 start
        var lasttime = <%= @order.remaining_time %>, // 剩余秒数
            J_btime = $('#J_btime'),
            sett = '';
        sett = setInterval(function(){
            lasttime--;
            var shi = Math.floor(lasttime/3600),
                fen = Math.floor((lasttime%3600)/60);
                mi = Math.floor(lasttime%60);
            J_btime.html((shi<10?'0'+shi:shi)+'时'+(fen<10?'0'+fen:fen)+'分'+(mi<10?'0'+mi:mi)+'秒');
            if(lasttime==0){
                clearInterval(sett);
            }
        },1000);
        //end

        $('.J_order_cancal').click(function(){ // 取消订单
            if(lasttime==0){
                CUES.tip({"msg":"支付剩余时间已过，请重新下单","type":"danger"});
                return false;
            };
            var self = $(this),
                ordernumber = self.attr('data-onumber');
            CUES.confirm({"msg":"确认要取消该订单吗？","callback":function(){
                isajax = true;
                // ajax取消订单
                $.ajax({
                    type: "POST",
                    url: "/wap/orders/<%= @order.id %>/cancel",
                    data: {},
                    dataType: "json",
                    success: function(res){
                        isajax = false;
                        if(res.code){
                            CUES.tip({"msg":"取消成功","type":"success","callback":function(){
                                window.location.href = window.location.href;
                            }});
                        }
                    }
                });
            }})
        });

        $('.J_order_pay').click(function(){
            if(lasttime==0){
                CUES.tip({"msg":"支付剩余时间已过，请重新下单","type":"danger"});
                return false;
            };
            $('#J_pop_pay').show();
            setTimeout(function(){
                $('#J_pop_pay').addClass('pop_active');
            },10)
        });

        // $('.J_close_pop').click(function(){
        //     $($(this).attr('data-target')).removeClass('pop_active').hide();
        // });

         //微信支付
        $('#J_pay_wx').click(function(){
            console.log('微信支付接口');

            window.location.href = "<%= pay_wxpay_pay_path(out_trade_no: @order.payment.try(:out_trade_no)) %>"

            // 支付完成后调用以下代码 start
            // $('#J_pop_pay').removeClass('pop_active').hide();
            //end
        });

         //支付宝支付
        $('#J_pay_alipay').click(function(){
            console.log('支付宝支付接口');

            window.location.href = "<%= pre_alipay_wap_order_path(@order) %>"

            // 支付完成后调用以下代码 start
            // $('#J_pop_pay').removeClass('pop_active').hide();
            //end
        });

        $('.J_order_sure').click(function(){ // 确认收货
            var self = $(this),
                ordernumber = self.attr('data-onumber');
            CUES.confirm({"msg":"确认收到货物？","callback":function(){
                isajax = true;
                // ajax确认收货
                $.ajax({
                    type: "POST",
                    url: "/wap/orders/<%= @order.id %>/confirm",
                    data: {},
                    dataType: "json",
                    success: function(res){
                        isajax = false;
                        if(res.code){
                            CUES.tip({"msg":"确认收货成功","type":"success","callback":function(){
                                window.location.href = window.location.href;
                            }});
                        }
                    }
                });
            }})
        });

        $('.J_order_refund').click(function(){ // 申请退款
            var self = $(this),
                ordernumber = self.attr('data-onumber');
            CUES.confirm({"msg":"确认要申请退款吗？","callback":function(){
                isajax = true;
                // ajax确认收货
                $.ajax({
                    type: "POST",
                    url: "/wap/orders/<%= @order.id %>/refund",
                    data: {},
                    dataType: "json",
                    success: function(res){
                        isajax = false;
                        if(res.code){
                            CUES.tip({"msg":"申请退款成功","type":"success","callback":function(){
                                window.location.href = window.location.href;
                            }});
                        }
                    }
                });
            }})
        });

        $('.J_order_delete').click(function(){ // 删除订单
            var self = $(this),
                item = self.parent().parent(),
                ordernumber = self.attr('data-onumber');
            CUES.confirm({"msg":"确认要删除该订单吗？","callback":function(){
                isajax = true;
                // ajax删除订单
                $.ajax({
                    type: "DELETE",
                    url: "/wap/orders/<%= @order.id %>",
                    data: {},
                    dataType: "json",
                    success: function(res){
                        isajax = false;
                        if(res.code){
                            CUES.tip({"msg":"删除成功","type":"success","callback":function(){
                                window.history.back();
                            }});
                        }
                    }
                });
            }})
        })




        // ------------------------------------------------------------------------------------------------------------------

        var J_getall = $('#J_getall'),
          J_edit = $('#J_edit'),
          J_lists = $('#J_lists'),
          J_item = $('.J_item'),
          I_proc = $('.i_proc'),
          J_mon = $('#J_mon'),
          J_numall = $('#J_numall'),
          J_edit_d = $('#J_edit_d'),
          J_edit_m = $("#J_edit_m"),
          J_del = $('#J_del'),
          J_move = $('#J_move'),
          J_statement = $('#J_statement'),
          data= {"list":[],"countnum":0,"countprice":0}; // 预定义购物车数据

        var check_qty_result = false;

        I_proc.each(function(index){
          var obj = {},self = $(this);
            // J_pselect = self.find('.J_pselect').eq(0),
            // J_minu = self.find('.J_minu').eq(0),
            // J_plus = self.find('.J_plus').eq(0),
            // J_num = self.find('.J_num');

          // 重组商品数据
          obj.index = index;
          obj.hid = parseInt(self.attr('data-hid'));
          obj.pid = parseInt(self.attr('data-pid'));
          obj.tid = parseInt(self.attr('data-tid'));
          obj.price = parseFloat(self.attr('data-price'));
          obj.num = parseInt(self.attr('data-num'));
          obj.name = self.attr('data-name');
          obj.pimg = self.attr('data-pimg');
          obj.pnor = self.attr('data-pnor')?self.attr('data-pnor'):null;
          obj.selected = 1;
          obj.zeng = 0;
          obj.zengtext = obj.zeng?self.attr('data-zengtext'):null;

          data.countnum += obj.selected?obj.num:0;
          data.countprice += (obj.selected&&!obj.zeng)?obj.num*obj.price:0;

          // if (!J_pselect.data('expired') && !J_pselect.data('today')) {
            data.list.push(obj);
          // }

        });

        function check_qty_more(){
          isajax = true;
          // ajax检查库存
          $.ajax({ 
            type: "GET",
            url: "/wap/items/check_qty_more",
            data: {data: data.list},
            dataType: "json",
            success: function(res){
              isajax = false;
              if(res.code){
                gostatement(data.list);
              } else {
                CUES.tip({"msg":res.msg,"type":"danger"});
              }
            }
          });
        }

        $('#J_buynow').click(function(){
            check_qty_more();
        });

        function gostatement(list){
          var obj = {};
          obj.list = list;
          obj.submit_type = 'multi';
          obj.countnum = data.countnum;
          obj.countprice = data.countprice;
          localStorage.statement = JSON.stringify(obj); // 存储本地 localStorage
          window.location.href = "/wap/orders/new"; // 跳转页面
        }

    });

    // ------------------------------------------------------------------------
    var J_paytype = $("#J_paytype"),
        J_sheng = $('#J_sheng'),
        J_shi = $("#J_shi"),
        J_qu = $("#J_qu"),
        J_pop_slide = $('.J_pop_slide'),
        J_pop_all = $('#J_pop_all'),
        J_pop_adtype = $('#J_pop_adtype'),
        J_pop_house = $('#J_pop_house'),
        J_pop_canting = $('#J_pop_canting'),
        J_pop_hous = $('#J_pop_hous'),
        J_pop_hounew = $('#J_pop_hounew'),
        J_hounew_save = $("#J_hounew_save");


    var obj_info = {},adr_edit = 0;
    if(J_paytype.attr('data-type')){
        data.address.type = J_paytype.attr('data-type');
        obj_info.aid = parseInt(J_paytype.attr('data-aid'));
        obj_info.name = J_paytype.attr('data-name');
        obj_info.phone = J_paytype.attr('data-phone');
        obj_info.sheng = parseInt(J_paytype.attr('data-sheng'));
        obj_info.shi = parseInt(J_paytype.attr('data-shi'));
        obj_info.qu = parseInt(J_paytype.attr('data-qu'));
        obj_info.street = J_paytype.attr('data-street');
        obj_info.address = J_paytype.attr('data-address');
        if(obj_info.aid=="2"){ //判断是否是配送至餐厅
            obj_info.shopname = J_paytype.attr('data-shopname');
            obj_info.day = J_paytype.attr('data-day');
            obj_info.timepart = J_paytype.attr('data-timepart');
        }
        data.address.info = obj_info;
    };

    J_paytype.click(function(){
        J_pop_all.show();
        setTimeout(function(){
            J_pop_all.addClass('pop_active');
            J_pop_adtype.addClass('pop_slide_active');
        },10)
    });

    // 选择配送方式
    $('.J_pop_adt').click(function(){
        var v = $(this).attr('data-type');
        data.lstype = v;
        // v=='1'?show_pop_slide(J_pop_adtype,J_pop_house):show_pop_slide(J_pop_adtype,J_pop_canting)
        if(v=='1'){
            show_pop_slide(J_pop_adtype,J_pop_house);
        }else{
           show_pop_slide(J_pop_adtype,J_pop_canting);
           setTimeout(function(){
                   console.log(456)
                   J_html.hide();
                   J_pop_all.addClass('pop_h100');
           },1000);
       }
    });

    // 切换弹出框
    function show_pop_slide(self,target){
        self.removeClass('pop_slide_active');
        setTimeout(function(){
            target.addClass('pop_slide_active');
        },200)
    };

    // 选择配送到家地址
    J_pop_hous.on('click','.J_adr_select',function(){
        var self = $(this),obj = {};
        obj.aid = parseInt(self.attr('data-aid'));
        obj.name = self.attr('data-name');
        obj.phone = self.attr('data-phone');
        obj.sheng = parseInt(self.attr('data-sheng'));
        obj.shi = parseInt(self.attr('data-shi'));
        obj.qu = parseInt(self.attr('data-qu'));
        obj.street = self.attr('data-street');
        obj.address = self.attr('data-address');

        data.address.info = obj;
        data.address.type = data.lstype;

        console.log(data.address)
        update_address();
    }).on('click','.J_adr_edit',function(){
        var self = $(this),obj = {};
        obj.aid = parseInt(self.attr('data-aid'));
        obj.name = self.attr('data-name');
        obj.phone = self.attr('data-phone');
        obj.sheng = parseInt(self.attr('data-sheng'));
        obj.shi = parseInt(self.attr('data-shi'));
        obj.qu = parseInt(self.attr('data-qu'));
        obj.street = self.attr('data-street');
        obj.address = self.attr('data-address');

        $('#J_name_h').val(obj.name);
        $('#J_phone_h').val(obj.phone);
        $('#J_detial').val(obj.street);

        J_sheng.val(obj.sheng);
        J_shi.val(obj.shi);
        J_qu.val(obj.qu);

        adr_edit = obj.aid;

        J_sheng.change(); // 渲染市区联动

        show_pop_slide(J_pop_house,J_pop_hounew);

    })

    // 渲染
    function setadrdom(){
        var v = data.address,info = v.info,
            cstr = v.type=='1'?'':'<p class="pt_sn">'+info.shopname+'</p><p class="pt_text pt_texta">'+info.day_name+'&ensp;&ensp;&ensp;'+info.timepart_name+'&ensp;&ensp;就餐</p>';
        var str = '<p class="pt_til"><span class="pt_ado">配送方式</span><span class="pt_way pt_way_active">'+(v.type=="1"?'配送到家':'配送到餐厅酒柜')+'</span></p>'+cstr+'<p class="pt_text pt_textb">'+info.phone+'&ensp;&ensp;'+info.name+'</p><p class="pt_adr">'+info.address+'</p>';

        J_paytype.html(str);
    }

    $('.J_close_pop').click(function(){
        // $($(this).attr('data-target')).removeClass('pop_active').hide();
        $($(this).attr('data-target')).removeClass('pop_active pop_h100').hide();
        J_html.show();
        J_pop_slide.removeClass('pop_slide_active');
    });

    function close_pop(){
        J_pop_slide.removeClass('pop_slide_active');
        J_pop_all.removeClass('pop_active').hide();
    };

    $('.J_pop_back').click(function(){
        var self = $(this);
        if(self.attr('data-from')=="#J_pop_canting"){
           J_pop_all.removeClass('pop_h100');
           J_html.show();
        };
        show_pop_slide($(self.attr('data-from')),$(self.attr('data-to')));
    });

    $('#J_hos_new').click(function(){
        show_pop_slide(J_pop_house,J_pop_hounew);
    });

    // 省市区联动
    J_sheng.change(function(){
        var vid = $(this).val();
        console.log(vid)
        if(vid==0){// 表示未选择
            J_shi.html('<option value="0">选择市</option>');
        }else{
            isajax = true;
            // ajax请求市内容
            $.ajax({ 
                type: "GET",
                url: "/wap/cities",
                data: {province_id: vid},
                dataType: "json",
                success: function(res){
                    isajax = false;
                    if(res.code){
                        var dt = res.data,len = dt.length,str = '';
                        for(var i=0;i<len;i++){
                            var v = dt[i];
                            str+='<option value="'+v.id+'">'+v.name+'</option>';
                        };
                        J_shi.html('<option value="0">选择市</option>'+str);
                        J_qu.html('<option value="0">选择区</option>');
                    }
                }
            });
        }
    });



    J_shi.change(function(){
        var vid = $(this).val();
        if(vid==0){// 表示未选择
            J_qu.html('<option value="0">选择区</option>');
        }else{
            isajax = true;
            // ajax请求市内容
            $.ajax({ 
                type: "GET",
                url: "/wap/districts",
                data: {city_id: vid},
                dataType: "json",
                success: function(res){
                    isajax = false;
                    if(res.code){
                        var dt = res.data,len = dt.length,str = '';
                        for(var i=0;i<len;i++){
                            var v = dt[i];
                            str+='<option value="'+v.id+'">'+v.name+'</option>';
                        };
                        J_qu.html('<option value="0">选择区</option>'+str);
                    }
                }
            });
        };
    });

    // 保存
    J_hounew_save.click(function(){
        var name = $('#J_name_h').val().trim(),newadr = {}; // 预定义地址数据
        if(!name.length){
            CUES.tip({"msg":"请填写收货人姓名","type":"danger"})
            return false;
        };
        var regphone = /^[1][0-9]{10}$/ig,
            phone = $('#J_phone_h').val().trim();
        if(!regphone.test(phone)){
            CUES.tip({"msg":"手机号不正确","type":"danger"})
            return false;
        };
        if(J_sheng.val()==0){
            CUES.tip({"msg":"请选择省份","type":"danger"})
            return false;
        };
        if(J_shi.val()==0){
            CUES.tip({"msg":"请选择市","type":"danger"})
            return false;
        };
        if(J_qu.val()==0){
            CUES.tip({"msg":"请选择区","type":"danger"})
            return false;
        };
        var street = $('#J_detial').val().trim();
        if(street.length<=5){
            CUES.tip({"msg":"详细地址过短","type":"danger"})
            return false;
        };
        newadr.name = name;
        newadr.phone = phone;
        newadr.sheng = J_sheng.val();
        newadr.shi = J_shi.val();
        newadr.qu = J_qu.val();
        newadr.street = street;

        if(adr_edit){ // 判断是否是编辑数据
            newadr.aid = adr_edit;
        };

        // 可根据传入的 newadr.aid 的值判断是否是编辑数据

        isajax = true;
        // ajax保存地址
        $.ajax({ 
            type: "POST",
            url: "/wap/addresses",
            data: {newadr},
            dataType: "json",
            success: function(res){
                isajax = false;
                if(res.code){
                    CUES.tip({"msg":"保存成功","type":"success","callback":function(){
                        // 返回res里需重新组合json对象
                        newadr.aid = 5; // 赋值地址id
                        newadr.address = res.data;//"xx上海市浦东新区浦东软件园郭守敬园1号楼1上海市浦东新区浦东软件园郭守敬园1号楼525室";
                        data.address.type = data.lstype;
                        data.address.info = newadr;
                        setadrdom();
                        J_pop_slide.removeClass('pop_slide_active');
                        J_pop_all.removeClass('pop_active pop_h100').hide();
                        J_pop_all_part.find('.pop_slide_active').removeClass('pop_slide_active');
                        J_pop_all_part.removeClass('pop_active').hide();
                        close_pop();
                        J_html.show();
                    }});
                }
            }
        });
    });


    var J_pday_in = $('#J_pday_in'),
        J_ptime_in = $('#J_ptime_in'),
        J_saveadr = $('#J_saveadr'),
        J_can_name = $('#J_can_name');

    var J_pop_all_part = $('#J_pop_all_part');


    $('.J_pop_line').click(function(){
        $(this).parent().toggleClass('psubbox_show');
        var self = $(this);
           J_pop_all_part.show();
           setTimeout(function(){
               J_pop_all_part.addClass('pop_active');
               $(self.attr('data-target')).addClass('pop_slide_active');
           },10)
   });

   $('.J_close_pop_part').click(function(){
       J_pop_all_part.removeClass('pop_active').hide();
       J_pop_all_part.find('.pop_slide_active').removeClass('pop_slide_active');
    });

    // 更改配送地址
    $('.J_padr').click(function(){
        var self = $(this),
            aid = self.attr('data-aid'),
            shopname = self.attr('data-shopname'),
            address = self.attr('data-address');
        self.addClass('padr_active').siblings().removeClass('padr_active');
        obj_info.shopname = shopname;
        obj_info.aid = aid;
        obj_info.address = address;
        J_can_name.html(shopname);
    });

    // var shijianduan = [
    //     {"value":1,"name":"09:00-10:10"},
    //     {"value":2,"name":"10:00-11:00"},
    //     {"value":3,"name":"11:00-12:00"},
    //     {"value":4,"name":"12:00-13:00"},
    //     {"value":5,"name":"13:00-14:00"},
    //     {"value":6,"name":"14:00-15:00"},
    //     {"value":7,"name":"15:00-16:00"}
    // ];

    var shijianduan = <%= @timearr.to_json.html_safe %>

    var day = new dataSelect({
        "target":document.getElementById('J_ppart'), // 目标对象dom
        "fieldshow":"name",// 必选 显示字段
        "fieldvalue":"value",// 必选 值匹配字段
        "data":shijianduan, // 选项数据
        "default_v":obj_info.timepart||shijianduan[0].value,
        "change":function(v){
            obj_info.timepart = v.value; // 更新时间段id
            obj_info.timepart_name = v.name;
            J_ptime_in.html(v.name)
        }
    });

    var date = new Date(),datearr = [],xarr=['日','一','二','三','四','五','六']; // 循环后面六十天时间
    for(var i=0;i<60;i++){
        date.setDate(date.getDate()+1);
        var m = date.getMonth()+1,
            d = date.getDate();
        m = m<10?'0'+m:m;
        d = d<10?'0'+d:d;
        datearr.push({"value":date.getFullYear()+"/"+m+"/"+d,"name":m+"-"+d+"(星期"+xarr[date.getDay()]+")"})
    };
    var day = new dataSelect({
        "target":document.getElementById('J_pday'), // 目标对象dom
        "fieldshow":"name",// 必选 显示字段
        "fieldvalue":"value",// 必选 值匹配字段
        "data":datearr, // 选项数据
        "default_v":obj_info.day||datearr[0].value,
        "change":function(v){
            obj_info.day = v.value; // 更新时间段id
            obj_info.day_name = v.name;
            J_pday_in.html(v.name);
        }
    });

    J_saveadr.click(function(){
        if(!obj_info.aid){
            CUES.tip({"msg":"请选择配送门店","type":"danger"})
            return false;
        };
        var name = $('#J_name').val().trim();
        // if(!name.length){
        //     CUES.tip({"msg":"请填写就餐人姓名","type":"danger"})
        //     return false;
        // }else{
            obj_info.name = name;
        // };
        var regphone = /^[1][0-9]{10}$/ig,
            phone = $('#J_phone').val().trim();
        // if(!regphone.test(phone)){
        //     CUES.tip({"msg":"就餐人手机号不正确","type":"danger"})
        //     return false;
        // }else{
            obj_info.phone = phone;
        // };

        data.address.info = obj_info;
        data.address.type = data.lstype;

        console.log(data.address)

        update_address()
    });


    function update_address(){
        isajax = true;
        // ajax请求市内容
        $.ajax({ 
            type: "POST",
            url: "/wap/orders/<%= @order.id %>/update_address",
            data: {address_type: data.address.type, address: data.address.info},
            dataType: "json",
            success: function(res){
                isajax = false;
                if(res.code){
                    CUES.tip({"msg":"收获地址修改成功","type":"success"})
                    setadrdom();
                    close_pop();
                    J_html.show();
                } else {
                    console.log('fail')
                }
            }
        });
    }

</script>
