<%= form_for @price, url: @price.new_record? ? ec_prices_path : ec_price_path(@price), validate: true, html: {id: 'ec_price_form'} do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">商品分类<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.select :ec_category_id, EcCategory.product_category.pluck(:name,:id),class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">最低价位<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :min_price, class: "col-md-1"%>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">最高价位<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :max_price, class: "col-md-1"%>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group ">
      <%= f.submit '确定', class: 'btn btn-sm btn-primary' %>
      <%= f.button '取消', type: :reset, class: "btn btn-sm btn-default", data: { dismiss: "modals" } %>
    </div>

  </div>
<% end %>
