<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li><%= link_to '商城管理', 'javascript:;' %></li>
          <li><%= link_to '分类管理', ec_product_categories_path %></li>
        </ul>
      </div>
      <div class="page-content">
        <div class="tabbable">
          <%= render "ec/product_categories/top_categories" %>

          <div class="row margin-top-20">
          <div class="col-md-12 no-padding">
           <div class="col-md-12">
           <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="addVote" data-toggle="modals" data-title="新增分类" data-height="1000" data-iframe=" <%= new_ec_product_category_path %>">新增</a>
           </div>
          </div>

           <div class="col-md-12  margin-top-10">
           <table id="vweddingTable" class="table table-scriped table-bordered table-hover dataTable">
            <thead>
             <tr>
              <th>分类名称</th>
              <th>商品数</th>
              <th>分类摘要</th>
              <th>首页图片</th>
              <th>分类图片</th>
              <th>状态</th>
              <th>推荐</th>
              <th>排序</th>
              <th>更新时间</th>
              <th>操作</th>
             </tr>
            </thead>
            <tbody>
              <% @categories.each do |ec_category| %>
             <tr>
              <td><%= ec_category.name %></td>
              <td><%= ec_category.ec_products.count %></td>
              <td><%= ec_category.summary%></td>
              <td><img src="<%= ec_category.format_icon_url %>" height="50px" width="50px" /></td>
              <td><img src="<%= ec_category.format_pic_url %>" height="50px" width="50px" /></td>
              <td><%= ec_category.status_name %></td>
              <td><%= ec_category.is_recommend_name %></td>
              <td><%= ec_category.position %></td>
              <td><%= ec_category.updated_at %></td>
              <td>
                <%=link_to '编辑', 'javascript:;', class: 'fgreen', data: {target: 'editVote', toggle: 'modals', title: '编辑分类', height:'1000',iframe: edit_ec_product_category_path(ec_category)} %>
                <%=link_to '删除',ec_product_category_path(ec_category), method: :delete, data: {confirm:"确定删除?"} %>
                <%= link_to '复制链接', 'javascript:;', onclick: "copylink(this);", data: { link: "/pages/ec/goods-list/goods-list?id=#{ec_category.id}&name=#{ec_category.name}" } %>
              </td>
             </tr>
             <%end%>
           </tbody>
          </table>
         <%=paginate @categories %>
       </div>
    <%#end%>

        </div>
        </div>
      </div>
    </div>
<% end %>
<% content_for :custom_js do %>
    <script type="text/javascript">
        $(function () {

            $('#tree1').on("click", ".fa-plus-square", function () {
                $(this).closest('.tree-folder').find('.tree-folder-content').eq(0).toggle();
            });

            $('#tree1').on("click",".tree-up",function(){
                var self=$(this),
                    p = self.closest('.tree-li');
                if(p.prev().length > 0){
                    p.prev().before(p);
                    $.ajax({
                        type: "GET",
                        url: "/ec/product_categories/" + self.closest('.tree-tools').attr('data-id') +"/update_sorts?type=up",
                        success: function(data) {
                            showTip("success","操作成功");
                            return false;
                        },
                        error: function() {
                            showTip("warning","操作失败");
                            return false;
                        }
                    });
                }
            });
            $('#tree1').on("click",".tree-down",function(){
                var self = $(this),
                    p = self.closest('.tree-li');
                if(p.next().length > 0){
                    p.next().after(p);
                    $.ajax({
                        type: "GET",
                        url: "/ec/product_categories/" + self.closest('.tree-tools').attr('data-id') +"/update_sorts?type=down",
                        success: function(data) {
                            showTip("success","操作成功");
                            return false;
                        },
                        error: function() {
                            showTip("warning","操作失败");
                            return false;
                        }
                    });
                }
            });

        });

        function copylink(e) {
          console.log($(e).data('link'));
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(e).data('link')).select();
          document.execCommand("copy");
          $temp.remove();
          showTip("success","链接复制成功");
        }
    </script>
<% end %>
