<%= form_for @item, validate: true,html:{class: 'form'} do |f| %>
  <%= f.hidden_field :ec_price_id, value: 1 %>
  <%= f.hidden_field :ec_product_id %>
  <div class="modal-body">
<!--
    <div class="form-group">
      <label>商品类型<span class="required-star">*</span></label>
      <div class="clearfix">
        <%#= f.select :product_type, EcItem.product_type_options, {}, class: 'col-xs-12' %>
      </div>
    </div>
 -->
    <div class="form-group">
      <label>SKU<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :sku, validate: true, class: 'col-xs-12' %>
      </div>
    </div>

    <div class="form-group">
      <label>库存<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.number_field :qty, validate: true, class: 'col-xs-12' %>
      </div>
    </div>

    <div class="form-group">
      <label>规格名称<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :name, class: 'col-xs-12' %>
      </div>
    </div>

    <div class="form-group">
      <label>市场价<small class="text-warning">(单位：元)</small><span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :market_price, class: 'col-xs-12' %>
      </div>
    </div>

    <div class="form-group">
      <label>零售价<small class="text-warning">(单位：元)</small><span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :price, class: 'col-xs-12' %>
      </div>
    </div>
<!--
    <div class="form-group">
      <label>已售库存</label>
      <div class="clearfix">
        <%= @item.sold_qty %>
      </div>
    </div>

    <div class="form-group">
      <label>设置已售数</label>
      <div class="clearfix">
        <%= f.text_field :display_sold_qty, class: 'col-xs-12' %>
      </div>
    </div>
 -->
    <div class="form-group">
      <label>净重<small class="text-warning">(单位：千克/kg)</small></label>
      <div class="clearfix">
        <%= f.text_field :weight, class: 'col-xs-12' %>
      </div>
    </div>

    <div class="form-group">
      <label>体积<small class="text-warning">(长×宽×高, 单位：立方厘米/cm³)</small></label>
      <div class="clearfix">
        <%= f.text_field :volume, class: 'col-xs-12' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">运费设置
        <span class="required-star">*</span>&nbsp;&nbsp;&nbsp;
        <% EcItem.logistic_type_options.each do |type| %>
          <%= f.radio_button :logistic_type, type[1], :checked => @item.logistic_type == type[1] %>&nbsp;<%= type[0] %>&nbsp;&nbsp;&nbsp;
        <% end %>
      </label>
      <div class="clearfix">
        <%= f.select :ec_logistic_template_id, EcLogisticTemplate.pluck(:name, :id), {include_blank: '请选择运费模板'}, class: "col-xs-12  temple #{ 'hide' if @item.unified? }" %>
        <%= f.number_field :logistic_price, placeholder: "请输入运费", class: "col-xs-12 logistic_price #{'hide' if @item.template?} " %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
    <%= f.submit '保存', class: "btn btn-sm btn-primary" %>
    <%= f.button '取消', type: :reset, class: "btn btn-sm btn-default", data: { dismiss: "modals" } %>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
    $(":radio").click(function(){
      if($(this).val() == 2){
        $(".logistic_price").addClass("hide");
        $(".temple").removeClass("hide");
      }else{
        $(".logistic_price").removeClass("hide");
        $(".temple").addClass("hide");
      }
    })
  })
</script>