<style type="text/css">
  .select-ec {
    width: 150px;
  }
</style>
<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '商城管理', 'javascript:;' %></li>
        <li><%= link_to '商品管理', ec_products_path %></li>
        <li><%= link_to '商品规格', 'javascript:;' %></li>
      </ul>
    </div>

    <div class="page-content">
      <div class="tabbable">
        <%= render "ec/product_categories/top_categories" %>

        <div class="col-md-12 margin-top-20">
          <div class="col-md-12">
            <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="addVote" data-toggle="modals" data-title="新增分类" data-height="800" data-iframe=" <%= new_ec_shop_category_path %>">新增分类</a>
          </div>
        </div>

        <div class=" col-md-12 margin-top-10">
          <table id="rolesTable" class="table table-striped table-bordered table-hover dataTable m">
            <thead>
              <tr>
                <th>商品名称</th>
                <th>商品规格</th>
                <th>SKU</th>
                <th>市场价</th>
                <th>零售价</th>
                <th>库存</th>
                <th>已售库存</th>
                <th>设置已售数量</th>
                <th>操作</th>
              </tr>
            </thead>
            <tboday>
              <% @ec_items.each do |ec_item| %>
                <tr>
                  <td><%= ec_item.ec_shop.try(:name) %></td>
                  <td><%= ec_item.title %></td>
                  <td><img src="<%= ec_item.pic_url %>" width="50" height="50" class="margin-right-10"></td>
                  <td><%= ec_item.position %></td>
                  <td>
                    <%= link_to '设置商品',ec_item_path(ec_item)%>
                    <%= link_to '编辑', 'javascript:;', data: {toggle: 'modals', target: 'roleModal', title: '编辑推荐', width: '800', height: '800', iframe: edit_ec_item_path(ec_item)} %>
                    <%= link_to '删除', ec_item_path(ec_item),method: :delete, data:{confirm: "确定删除？"} %>
                  </td>
                </tr>
              <% end %>
              <% if @ec_items.count == 0 %>
                <tr>
                  <td colspan="9"><span class="green">无记录</span></td>
                </tr>
              <% end %>
            </tboday>
          </table>
          <%= paginate @ec_items %>
        </div>
      </div>
    </div>

  </div>
<% end %>
