<% content_for :main_content do %>
    <div class="main-content ">
        <div class="breadcrumbs" id="breadcrumbs">
          <ul class="breadcrumb">
            <%= render 'partials/home' %>
          </ul>
          <%#= render '/layouts/qrcode' %>
        </div>
      <div class="page-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="data-widget">
              <div class="l-info">
                <div class="number"><%= @data['all']['总订单'] %></div>
                <div class="font-size16">总订单数</div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="data-widget">
              <div class="l-info">
                <div class="number"><%= @data['seven']['待发货'] %></div>
                <div class="font-size16">周待发货</div>
              </div>
              <div class="r-info">
                <span>周待收货：<%= @data['seven']['待收货'] %></span><br>
                <span>周已完成：<%= @data['seven']['已完成'] %></span>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="data-widget">
              <div class="l-info">
                <div class="number"><%= @data['month']['待发货'] %></div>
                <div class="font-size16">月待发货</div>
              </div>
              <div class="r-info">
                <span>月待收货：<%= @data['month']['待收货'] %></span><br>
                <span>月已完成：<%= @data['month']['已完成'] %></span>
              </div>

              <div class="clearfix"></div>
            </div>

          </div>
          <%= form_tag api_mini_program_order_data_path, method: :get, id: 'subscribes' do %>
              <div class="col-sm-12 margin-top-20 data-filter">
                <div class="pull-left">
                  <%{"最近七天" => "seven", "最近一月" => "month"}.each do |key, value|%>
                      <a href="<%= api_mini_program_order_data_path(type: value) %>" class="btn btn-primary btn-filter btn-filter-tab <%= "active" if params[:type] == value %>" data-range="<%= value %>"><%= key %></a>
                  <%end%>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                  </span>
                  <%= text_field_tag :start_at_and_end_at, params[:start_at_and_end_at],  class: 'daterange' %>
                </div>
              </div>
          <% end %>
          <div class="col-sm-12 margin-top-20">
            <div class="">
              <div id="chart-1"></div>
            </div>
          </div>
          <div class="col-sm-12 margin-top-20">
            <%#= link_to '下载EXCEL', api_mini_program_order_data_path(format: :xls, start_at_and_end_at: params[:start_at_and_end_at], field: params[:field], type: params[:type]) , class: 'icon- pull-right datacube-download-link' %>
            <table id="" class="table table-striped table-bordered table-hover dataTable ">
              <thead>
                <tr>
                  <th>商品名称</th>
                  <th>销量</th>
                  <th>创建时间</th>
                </tr>
              </thead>
              <tbody>
                <% @hot_products.each do |item| %>
                  <% next if item.sold.to_i == 0 %>
                    <tr>
                      <td><%= item.ec_product.try(:name) %></td>
                      <td><%= item.sold %></td>
                      <td><%= item.ec_product.created_at %></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<% end %>
<% content_for :custom_js do %>
    <script type="text/javascript">
        $(function(){
            $('.daterangepicker').hide();

            $('.daterange').on('apply.daterangepicker', function(ev, picker) {
                $('form').submit();
            });

             $('#chart-1').append("<%= escape_javascript(high_chart('chart_basic_line1', @chart)) -%>");
        });

    </script>
<% end %>
