<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '评论管理', data_comments_url %></li>
      </ul>
      <%= render partial:'/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="tabbable row">
        <%#= render "materials/top_material" %>
        <div class="tab-content no-border padding-24">
          <div class="row">
            <%= form_for @search,url: data_comments_path,  :html => { :method => :get } do |f| %>
              <div class="col-sm-12">
                <!-- <div class="col-md-3 row">
                  <div class="input-group input-group-text"> -->
                    <!-- <span class="input-group-addon">选择活动：</span> -->
                    <%#= f.select :commentable_type_eq, Comment.commentable_type_options,:include_blank => "全部评论", class: "form-control" %>
                <!--   </div>
                </div> -->
                <div class="col-md-3 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">内容关键字：</span>
                    <%= f.text_field :comment_like, class: 'col-xs-12' %>
                  </div>
                </div>
                <div class="col-md-3 row">
                  <%= f.submit "查询", class: "btn btn-primary btn-sm btn-filter" %>
                </div>
              </div>
            <% end %>

            <div class="col-md-12 margin-top-20">
              <table id="actTable" class="table table-striped table-bordered table-hover dataTable ">
                <thead>
                  <tr>
                    <th>评论人</th>
                    <th>评论内容</th>
                    <!-- <th>评论分类</th> -->
                    <th>评论项目</th>
                    <th>评论时间</th>
                    <th>回复</th>
                    <th>回复时间</th>
                    <td>操作</td>
                  </tr>
                </thead>
                <tbody>
                  <% @comments.each do |comment| %>
                    <tr>
                      <td><%= comment.user.try(:name) || comment.commenter.try(:name) %></td>
                      <td><%= comment.comment %></td>
                      <!-- <td><%#= comment.commentable_type_name %></td> -->
                      <td>
                        <% if ['Material', 'WebsiteArticle'].include?(comment.commentable_type) %>
                          <%= comment.commentable.try(:title) %>
                        <% else %>
                          <%= comment.commentable.try(:name) %>
                        <% end %>
                      </td>
                      <td><%= comment.created_at %></td>
                      <td><%= comment.reply %></td>
                      <td><%= comment.replied_at %></td>
                      <td>
                        <a href="javascript:void(0);" data-target="addGate" data-toggle="modals" data-title="回复评论" data-iframe="<%= edit_data_comment_path(comment) %>" data-height="560">回复</a>
                        <%= link_to '删除', data_comment_path(comment), method: 'delete', confirm: "确定要删除该评论？", data: {height: 160, weight: 350} %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @comments %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% content_for :custom_js do %>
<% end %>
