<style type="text/css">
  .select-ec {
    width: 150px;
  }
</style>

<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '小程序设置' %></li>
        <li><%= link_to '开发设置' %></li>
      </ul>
    </div>
    <div class="page-content">
      <div class="row">

        <div class="col-sm-12">
          <div class="bgf9f9f9 pd10 table table-striped table-bordered table-hover dataTabletable table-striped table-bordered table-hover dataTable margin-top-20">
            <h5 class="text-info">小程序设置</h5>
            <%= form_for @wx_mp_user, validate: true, :html => { :class => 'form-table  margin-bottom-20', id: 'wx_mp_user-form', role: 'form' } do |f| %>
              <div class="row margin-top-10">
                <div class="col-md-3 text-right">名称：</div>
                <div class="col-md-5">
                  <div class="input-group input-group-text">
                    <%= f.text_field :nickname, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-md-3 text-right">原始ID</div>
                <div class="col-md-5">
                  <div class="input-group input-group-text">
                    <%= f.text_field :openid, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-md-3 text-right">AppID</div>
                <div class="col-md-5">
                  <div class="input-group input-group-text">
                    <%= f.text_field :app_id, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-md-3 text-right">AppSecret</div>
                <div class="col-md-4">
                  <div class="input-group input-group-text">
                    <%= f.text_field :app_secret, class: "form-control", size: 50 %>
                  </div>
                </div>
              </div>

              <div class="row margin-top-10">
                <span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="关键词为：订单金额、订单编号、支付时间、商品名称" data-original-title="" title=""> </span>
                <div class="col-md-3 text-right">订单支付成功通知模板ID</div>
                <div class="col-md-4">
                  <div class="input-group input-group-text">
                    <%= f.text_field :order_paid_wx_message_template_id, class: "form-control", size: 50 %>
                  </div>
                </div>
              </div>
              <div class="row margin-top-10">
                <span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="关键词为：商品名称、订单编号、发货时间、收货人、收货人电话、备注" data-original-title="" title=""> </span>
                <div class="col-md-3 text-right">订单发货提醒模板ID</div>
                <div class="col-md-4">
                  <div class="input-group input-group-text">
                    <%= f.text_field :order_packing_wx_message_template_id, class: "form-control", size: 50 %>
                  </div>
                </div>
              </div>

              <div class="row margin-top-10">
                <div class="col-md-3 text-right"></div>
                <div class="col-md-2">
                  <%= f.submit '保存', class: "btn btn-primary btn-sm" %>
                </div>

                <% unless @wx_mp_user.auditstatus %>
                  <div class="col-md-2">
                    <div class="input-group input-group-sm input-group-text">
                      <%= link_to '一键发布', api_mini_program_commit_submit_audit_path, class: 'btn btn-sm btn-filter btn-primary'  %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <% if @wx_mp_user.auditstatus %>
          <div class="col-md-12 margin-top-20">
            <table id="goodsTable" class="table table-striped table-bordered table-hover dataTable ">
              <thead>
                <tr>
                  <th width="150">当前版本</th>
                  <th width="150">最新版本</th>
                  <th>审核状态</th>
                  <th width="400">操作</th>
                </tr>
              </thead>
              <tbody id="colleges_body">
                  <tr>
                    <td><%= @wx_mp_user.user_version %></td>
                    <td><%= WxRelease.last.user_version %></td>
                    <td>
                      <% if @wx_mp_user.auditstatus == -1 %>
                        审核失败,理由：<%= "#{@wx_mp_user.fail_reason}" %>
                      <% elsif @wx_mp_user.auditstatus == 0 %>
                        审核中
                      <% elsif @wx_mp_user.auditstatus == 1 %>
                        审核成功
                      <% elsif @wx_mp_user.auditstatus == 2 %>
                        发布成功
                      <% elsif @wx_mp_user.auditstatus == 3 %>
                        发布失败
                      <% end %>
                    </td>
                    <td>
                      <% if @wx_mp_user.auditstatus == -1 %>
                        <%= link_to '重新发布', api_mini_program_commit_submit_audit_path %>
                      <% elsif @wx_mp_user.auditstatus == 0 %>
                        <%= link_to '体验二维码', 'javascript:;', data: {toggle: 'modals', target: 'employeeModal', title: "体验二维码", width: '', height:"550", iframe: api_mini_program_commit_get_qrcode_path}%>
                      <% elsif @wx_mp_user.auditstatus == 2 %>
                        <% if WxRelease.last.template_id > @wx_mp_user.template_id.to_i %>
                          <%= link_to '使用新版本', api_mini_program_commit_submit_audit_path %>
                        <% end %>
                        <%= link_to '二维码', 'javascript:;', data: {toggle: 'modals', target: 'employeeModal', title: "下载二维码", width: '', height:"550", iframe: api_mini_program_commit_qrcode_path}%>
                      <% end %>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        <% end %>

        <% if @wx_mp_user.auditstatus == 0 %>
          <div class="col-sm-12">
            <div class="bgf9f9f9 pd10 table table-striped table-bordered table-hover dataTabletable table-striped table-bordered table-hover dataTable margin-top-20">
              <div class="col-md-12 no-padding row margin-top-10">
                <div class="col-md-6">
                  <h5 class="text-info">体验者设置</h5>
                </div>
                <div class="col-md-6">
                  <a href="javascript:;" class="btn btn-primary btn-sm pull-right " data-target="addVote" data-toggle="modals" data-title="绑定体验者" data-width="300" data-height="300" data-iframe=" <%= new_wx_test_user_path %>">绑定体验者</a>
                </div>
              </div>
              <div class="margin-top-20">
                <table id="vweddingTable" class="table table-scriped table-bordered table-hover dataTable">
                  <thead>
                    <tr>
                     <th>微信号</th>
                     <th>绑定时间</th>
                     <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @current_site.wx_test_users.length > 0 %>
                      <% @current_site.wx_test_users.each do |wx_test_user| %>
                        <tr>
                         <td><%= wx_test_user.wx_id %></td>
                         <td><%= wx_test_user.created_at %></td>
                         <td>
                           <%=link_to '解绑体验者', wx_test_user_path(wx_test_user), method: :delete, data: {confirm:"确定解绑?"} %>
                         </td>
                        </tr>
                      <%end%>
                    <% else %>
                      <tr>
                        <td colspan="3" align="center">暂无体验者</td>
                      </tr>
                    <% end %>
                  </tbody>
               </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
