<%= nested_form_for @ec_shop, url: @ec_shop.new_record? ? @ec_shop : ec_shop_path(@ec_shop), validate: true, :html => {id: "pro_booking_item"} do |f| %>
  <div class="col-xs-12">

    <div class="form-group">
      <label class="control-label">标签<span class="required-star">*</span></label>
      <div class="clearfix">
        <% EcTag.shop_tag.each do |tag| %>
          <%= check_box_tag 'ec_shop[ec_tag_ids][]', tag.id, @ec_shop.ec_tags.include?(tag) %> <%= tag.name %>&nbsp;&nbsp;
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">分类<span class="required-star">*</span></label>
      <div class="col-xs-12 row" id="selects">
        <%= f.select :ec_category_id, EcCategory.where(category_type:1).map{|m| [m.name,m.id]}, {}, class: 'col-md-3' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="form-group">
      <label class="control-label">名称<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :name, class: "col-md-3" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">联系方式<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :tel,class: "col-md-3" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">酒柜数量<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :cabinets_count, class: "col-md-3" %>
      </div>
    </div>

    <div class="form-group">
      <label style="position: relative;" class="control-label">餐厅封面图<span class="help-inline text-warning line-height-32">建议图片尺寸：670*430</span>
        <a id="clearpic" class="btn btn-default btn-sm margin-left-20" href="javascript:;">删除</a>
      </label>
      <div class="clearfix">
        <div id="pic" data-key="<%= @ec_shop.logo_key %>" data-name="ec_shop[logo_key]" data-img="<%= @ec_shop.logo_url %>" data-width="160" data-height="100" data-type="0" class="cieldon-file pull-left width-100px cieldon-file-0"></div>
      </div>
    </div>

    <div class="form-group" id="shop_ec_pictures">
      <label class="control-label">轮播图片<span class="required-star">*</span><small class="text-warning">图片建议尺寸：670像素*430像素，可上传多张</small></label>
      <div class="clearfix">
        <div class="cieldon-file" data-type="6" data-width="160" data-height="100" data-imgs-type="ec_shop_ec_pictures"  data-img="<%= f.object.ec_pictures.map(&:pic_url).map(&:to_s).join(',') %>"></div>
      </div>
    </div>

    <div class="form-group">
      <div>
        <label class="control-label">省市区<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :province_id, Province.pluck(:name,:id), { include_blank: '选择省份' } %>&nbsp;
          <%= f.select :city_id, @ec_shop.new_record? ? [] : City.where(province_id: @ec_shop.province_id).pluck(:name,:id), class: "form-control" %>&nbsp;
          <%= f.select :district_id, @ec_shop.new_record? ? [] : District.where(city_id: @ec_shop.city_id).pluck(:name,:id),class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div>
        <label class="control-label">详情地址<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.text_field :address, class: "col-md-6" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">地址经纬度</label>
      <div class="clearfix">
        <div id="preview" class="clearfix">
          <div id="float_search_bar">
            <label>区域：</label>
            <%#= f.text_field :address, class: "input-text bd_map_address", style:"width :40%", validate: true %>
            <input type="text" id="address_keyword" class="bd_map_address" style="width :40%" value="<%= @ec_shop.address_display %>"/>
            <a id="search_button" class="button">查找</a>
            <span>点击地图或标注获取坐标</span>
          </div>
          <div id="map_container"></div>
        </div>
        <div style="margin-top: 20px">
        <%= f.text_field :location_x, class: 'input-text bd_map_lng', readonly: true, style: "width:120px;" %>
        <%= f.text_field :location_y, class: 'input-text bd_map_lat', readonly: true, style: "width:120px;" %>
        </div>
        <input type="hidden" id="is_address" value="">
        <input type="hidden" id="is_just" value="">
        <input type="hidden" id="is_new" value="<%#= @vip_card.address.present? ? '0':'1' %>">
      </div>
      <!-- 这里是百度地图 -->
      <%= render 'baidu_map'%>
    </div>

    <div class="form-group">
      <label class="control-label">详情<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= render "shared/form_rich_text", field_name: "description", obj: f.object, f: f, wrapper_html_options: {class: "form-control"}%>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <input type="submit" class="btn btn-sm btn-primary" data-fn="submit" value="确定" />
      <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
    </div>
  </div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">

  $(function(){
    $(".js-sub").click(function(){
         if($(".js-way:checked").length == 0){
           alert("请选择一个订餐场景");
           return false;
         }
    })

    $(".btn-add-i").click(function(){
      var html = '<div class="input-group input-group-text input-group-sm margin-b-10"><input class="hidden_delete" id="delete-'+Date.now()+'" name="ec_shop[ec_dining_times_attributes]['+Date.now()+'][_destroy]" style="display:none" type="checkbox" value="1"><input size="30" class="timepicker timeFrom" id="ec_shop_ec_dining_times_attributes_'+Date.now()+'_start_time" name="ec_shop[ec_dining_times_attributes]['+Date.now()+'][start_at]" readonly="readonly" type="text"><span class="input-group-btn">　~　</span><input class="timepicker timeTo" size="30" id="ec_shop_ec_dining_times_attributes_'+Date.now()+'_end_time" name="ec_shop[ec_dining_times_attributes]['+Date.now()+'][end_at]" readonly="readonly" type="text"><span class="input-group-btn"><button class="btn btn-cancel" type="button">删除</button></span></div>'

      $("#rule_time_range_2").append(html);
      $('.timepicker').attr('readonly', 'readonly').clockpicker({
          autoclose: true
      });
    });

    render_hidden_div();

    $("input[type=radio]").click(function(){
      render_hidden_div();
    });

    $('#rule_time_range_2').on('click', '.btn.btn-cancel', function(){
      if($('#rule_time_range_2 .input-group:visible').length > 1){
        $(this).closest('.input-group').find('input[type=checkbox]').prop("checked", true);
        $(this).closest('.input-group').hide();
      }else{
        showTip('warning', '至少保留一个');
      }
    });
  });

  function render_hidden_div(){
    render_preview_day();
    render_min_money();
    render_time_range();
  }

  function render_preview_day(){
    if($("#book_rule_is_limit_day_true").prop("checked") == true){
      $("#rule_time_2").show();
    }else{
      $("#rule_time_2").show();
      // $("#rule_time_2").hide();
    }
  }

  function render_time_range(){
    // if($("#book_rule_is_limit_time_true").prop("checked") == true){
      $("#rule_time_range_2").show();
    // }else{
      // $("#rule_time_range_2").show();
      // $("#rule_time_range_2").hide();
    // }
  }

  function render_min_money(){
    if($("#book_rule_is_limit_money_true").prop("checked") == true){
      $("#keyuding").show();
    }else{
      $("#keyuding").show();
      // $("#keyuding").hide();
    }
  }

  function ddd(id){
    //$("#delete-"+id).prop("checked", true);
  }

    <% if @ec_shop.new_record? %>
      showCityOptions($("#ec_product_province_id").val());
      showDistrictOptions($("#ec_product_city_id").val());
    <% end %>
    $('#clearpic').click(function(){
        $('#pic .file-btn a').css('background-image','');
        $('input[name="website_article[pic]"]').val('');
    });

    function showCityOptions(province_id) {
          $.ajax({
            url: "/cities",
            data: { "province_id": province_id },
            dataType: 'json',
            success: function(result){
              var options = $("#ec_shop_city_id");
              options.empty(); // remove old options

              options.append($("<option></option>").attr("value", '').text('请选择城市'));

              $.each(result, function(index, option) {
                options.append($("<option></option>")
                  .attr("value", option.id).text(option.name));
              });
            }
          });
        }

    function showDistrictOptions(city_id) {
          $.ajax({
            url: "/districts",
            data: { "city_id": city_id },
            dataType: 'json',
            success: function(result){
              var options = $("#ec_shop_district_id");
              options.empty(); // remove old options

              options.append($("<option></option>").attr("value", '').text('请选择地区'));

              $.each(result, function(index, option) {
                options.append($("<option></option>")
                  .attr("value", option.id).text(option.name));
              });
            }
          });
        }
    $("#ec_shop_province_id").on('change', function(e){
      var province_id = $(this).val();
      showCityOptions(province_id);
    });

    $("#ec_shop_city_id").on('change', function(e){
      var city_id = $(this).val();
      showDistrictOptions(city_id);
    });

    function set_info(element){
        var html = '<div class="modal fade modal-text" id="popup-confirm" style="display: block;">' +
                '<div class="modal-dialog">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>' +
                '<h4 class="modal-title">系统提示</h4>' +
                '</div><form role="form" action="" method="">';

        html += '<div class="modal-body">' +
                '<p class="text-center">确认删除图片</p></div>' +
                '<div class="clearfix"></div>';

        html += '<div class="modal-footer">';
        html += '<a href="javascript:;" class="btn btn-sm btn-primary" id="pop-confrim-submit">确定</a>';
        html += '<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>';
        html += '</div></form>';
        html += '</div>';

        html += '</div></div></div>';
        $('#popup-confirm').remove();
        $("body").append(html);
        $('#popup-confirm').modal('show');
        $('#popup-confirm').on('click', 'button[data-dismiss="modal"], .btn-primary', function(){
            var dc = $(parent.document),
                $modal = dc.find('.modal'),
                $modalBg = dc.find(".modal-backdrop")
            $modal.attr('aria-hidden', true).removeClass('in');
            $modalBg.remove();
            $(parent.document.body).removeClass('modal-open');
            $modal.remove();
            if($(this).hasClass('btn-primary')){
                $(element).next().val(1);
                $(element).closest('.file-img').hide();
            }
        });
        return false;
    }

    $(function(){
        var imgs = $('#shop_ec_pictures .file-img');
        <% @ec_shop.ec_pictures.each_with_index do |m, i| %>
            <% uuid = UUIDTools::UUID.random_create.to_s[0,6] %>
            imgs.eq(parseInt('<%= i + 1%>')).append('<input class="destroy" name="ec_shop[ec_pictures_attributes][<%= uuid %>][_destroy]" type="hidden">')
            imgs.eq(parseInt('<%= i + 1%>')).append('<input class="destroy" name="ec_shop[ec_pictures_attributes][<%= uuid %>][id]" type="hidden" value="<%= m.id %>">')
        <% end %>


        $('.cieldon-file').on('click', '.file-del', function(){
            set_info($(this));
        });
        $(".hidden_booking_category_id").val($('.booking_category:visible:last').val());
        $("#selects").on("change", ".booking_category", function(){
            if($(this).val() == "-1"){
            }
            else{
                $.ajax({
                    type: "GET",
                    url: "/ec/shop_categories/" + $(this).val() + "?rel=" + ($(this).attr('rel')) + '&&type=1',
                    success: function(data) {
                        return false;
                    },
                    error: function() {
                        return false;
                    }
                });
            }
        });
      });
  </script>
<% end %>
