<form>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">订单编号:  <%= @ec_comment.ec_order_item.ec_order.order_no %></label>
    </div>

    <div class="form-group">
      <label class="control-label">商品规格名称:  <%= @ec_comment.ec_order_item.ec_item.try(:name) %></label>
    </div>

    <div class="form-group">
      <label class="control-label">商品sku:  <%= @ec_comment.ec_order_item.ec_item.sku %></label>
    </div>

    <div class="form-group">
      <label class="control-label">商品名称:  <%= @ec_comment.ec_order_item.product_name %></label>
    </div>

    <div class="form-group">
      <label class="control-label">评论人:  <%= @ec_comment.user.try(:name) %></label>
    </div>

    <div class="form-group">
      <label class="control-label">评论内容:  <%= @ec_comment.content %></label>
    </div>

    <div class="form-group">
      <label class="control-label">回复内容:  <%= @ec_comment.try(:reply) %></label>
    </div>

    <div class="form-group">
      <label class="control-label">回复时间:  <%= @ec_comment.try(:replied_at) %></label>
    </div>

    <div class="form-group">
      <label class="control-label">状态:  <%= @ec_comment.status_name %></label>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-sm btn-primary" data-fn="submit" value="确定" />
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
</form>
