<% title @booking.name %>
<% content_for :booking_top_pic do %>
    <header>
      <a href="<%= mobile_booking_booking_item_url(@site, @booking, @booking_item, anchor: "mp.weixin.qq.com") %>" class="ico-prev">
        <img src="/assets/mobile/wserver/ico-back.png"/>
      </a>
      <h1>评论(<%= @comments.count %>)</h1>
      <a href="<%= new_mobile_booking_booking_comment_url(site_id: @site.id, booking_item_id: @booking_item.id) %>">
        <img src="/assets/mobile/wserver/ico-comment.png"/>
      </a>
    </header>
<% end %>

<div class="box-comment">
  <div class="ft-comment">
    <% @comments.each do |booking_comment| %>
        <div class="ft-list">
          <div class="fr">
            <b><%= booking_comment.commenter.try(:name) %></b>
            <i><%= booking_comment.created_at.to_date %></i>
            <p><%= booking_comment.comment %></p>
          </div>
        </div>
    <% end %>
    <% if @comments.blank? %>
      <p class="tcenter ft-null">该商品还没有评论，赶紧评论吧！</p>
    <% end %>
  </div>
</div>
