<div class="html typelist">
    <div class="topytpe" id="J_toptype">
        <div class="ty_top">
            <a href="javascript:;" class="ty_topls" id="J_moren"><span class="ty_topsp">综合</span></a>
            <a href="javascript:;" class="J_ty_topls ty_topls" data-target="#J_ty_type"><span class="ty_topsp" id="J_ty_typein">类型</span><span class="ty_icon"></span></a>
            <a href="javascript:;" class="J_ty_topls ty_topls" data-target="#J_ty_price"><span class="ty_topsp" id="J_ty_pricein">价位</span><span class="ty_icon"></span></a>
            <a href="javascript:;" class="J_ty_topls ty_topls" data-target="#J_ty_scene"><span class="ty_topsp" id="J_ty_scenein">场景</span><span class="ty_icon"></span></a>
        </div>
        <div class="J_ty_box ty_box" id="J_ty_type">
            <a href="javascript:;" class="J_ty_ls_t ty_ls" data-value="0" data-key="类型">全部类型</a>
            <% EcCategory.product_category.order("position asc").each do |category| %>
                <a href="javascript:;" class="J_ty_ls_t ty_ls" data-value="<%= category.id %>" data-key="<%= category.name %>"><%= category.name %></a>
            <% end %>
        </div>
        <div class="J_ty_box ty_box" id="J_ty_price">
            <a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="0" data-key="价位">不限</a>
        </div>
        <div class="J_ty_box ty_box" id="J_ty_scene">
            <a href="javascript:;" class="J_ty_ls_s ty_ls" data-value="0" data-key="场景">不限</a>
            <% EcTag.product_tag.each do |tag| %>
                <a href="javascript:;" class="J_ty_ls_s ty_ls" data-value="<%= tag.id %>" data-key="<%= tag.name %>"><%= tag.name %></a>
            <% end %>
        </div>
    </div>
    <div class="wlist" id="J_wlist"></div>
    <a href="javascript:;" class="nomore" id="J_more"><img src="assets/images/nomore.png" class="noimg"><span id="J_moretext"></span></a>
</div>
<script type="text/javascript">
    $(function(){
        var data = {"type":0,"price":0,"scene":0,"page":1,"pagesize":12},
            sc = getRequest(),
            isajax = false,//设置开关 防止重复提交;
            isdone = false; // 数据是否加载完毕

        var J_toptype = $('#J_toptype'),
            J_ty_topls = $('.J_ty_topls'),
            J_ty_box = $('.J_ty_box'),
            J_moren = $('#J_moren'),
            J_ty_ls_t = $('.J_ty_ls_t'),
            J_ty_ls_p = $('.J_ty_ls_p')
            J_ty_ls_s = $('.J_ty_ls_s'),
            J_ty_typein = $('#J_ty_typein'),
            J_ty_pricein = $('#J_ty_pricein'),
            J_ty_scenein = $('#J_ty_scenein'),
            J_wlist = $('#J_wlist'),
            J_more = $('#J_more'),
            J_moretext = $('#J_moretext');

        J_ty_box.css('height',$(window).height());

        J_toptype.on('click','.J_ty_ls_t',function(){
            var self = $(this),value = self.attr('data-value'),key = self.attr('data-key'),par = J_ty_typein.parent();
            setin(self,J_ty_typein,par,value,key,"type");

            getprice();

            // ajax = $.ajax({ 
            //     type: "GET",
            //     url: "/wap/prices",
            //     data: {ec_category_id: data.type},
            //     dataType: "json",
            //     success: function(res){
            //         if(res.code){
            //             $('#J_ty_price').html('');

            //             var str = '<a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="0" data-key="价位">不限</a><a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="asc" data-key="由低到高">由低到高</a><a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="desc" data-key="由高到低">由高到低</a>'

            //             console.log(res.data.length);


            //             for (var i = 0; i < res.data.length; i++) {
            //                 var dp = res.data[i];
            //                 console.log(dp);
            //                 str += '<a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="'+dp.id+'" data-key="'+dp.min_price+'-'+dp.max_price+'">'+dp.min_price+'-'+dp.max_price+'元</a>'
            //             }

            //             $('#J_ty_price').html(str);
            //         }
            //     }
            // });
            console.log('重新渲染价位')
        }).on('click','.J_ty_ls_p',function(){
            var self = $(this),value = self.attr('data-value'),key = self.attr('data-key'),par = J_ty_pricein.parent();
            setin(self,J_ty_pricein,par,value,key,"price");
        }).on('click','.J_ty_ls_s',function(){
            var self = $(this),value = self.attr('data-value'),key = self.attr('data-key'),par = J_ty_scenein.parent();
            setin(self,J_ty_scenein,par,value,key,"scene");
        })

        function getprice() {
            ajax = $.ajax({ 
                type: "GET",
                url: "/wap/prices",
                data: {ec_category_id: data.type},
                dataType: "json",
                success: function(res){
                    if(res.code){
                        $('#J_ty_price').html('');

                        var str = '<a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="0" data-key="价位">不限</a><a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="asc" data-key="由低到高">由低到高</a><a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="desc" data-key="由高到低">由高到低</a>'

                        console.log(res.data.length);


                        for (var i = 0; i < res.data.length; i++) {
                            var dp = res.data[i];
                            console.log(dp);
                            str += '<a href="javascript:;" class="J_ty_ls_p ty_ls" data-value="'+dp.id+'" data-key="'+parseInt(dp.min_price)+'-'+parseInt(dp.max_price)+'">'+parseInt(dp.min_price)+'-'+parseInt(dp.max_price)+'元</a>'
                        }

                        $('#J_ty_price').html(str);
                    }
                }
            });
        }

        function setin(self,inkey,par,value,key,type){
            self.addClass('ty_ls_active').siblings().removeClass('ty_ls_active');
            inkey.html(key);
            par.removeClass('ty_topls_hover');
            if(value=='0'){
                par.removeClass('ty_topls_active');
            }else{
                par.addClass('ty_topls_active');
            };
            data[type] = value;
            J_ty_box.hide();
            
            if(ajax){ // 终止正在进行的ajax
                ajax.abort()
            };
            console.log('当前data数据：'+JSON.stringify(data))
            getajax(true); //获取列表数据
        };

        function setin2(self,inkey,par,value,key,type){
            self.addClass('ty_ls_active').siblings().removeClass('ty_ls_active');
            inkey.html(key);
            par.removeClass('ty_topls_hover');
            if(value=='0'){
                par.removeClass('ty_topls_active');
            }else{
                par.addClass('ty_topls_active');
            };
            data[type] = value;
            J_ty_box.hide();
            
            // if(ajax){ // 终止正在进行的ajax
            //     ajax.abort()
            // };
            // console.log('当前data数据：'+JSON.stringify(data))
            // // getajax(true); //获取列表数据
        };

        J_ty_topls.click(function(){
            var self = $(this),target = self.attr('data-target');
            self.siblings().removeClass('ty_topls_hover');
            if(self.hasClass('ty_topls_hover')){
                self.removeClass('ty_topls_hover');
                J_ty_box.hide();
            }else{
                self.addClass('ty_topls_hover');
                J_ty_box.hide();
                $(target).show();
            }
        });

        J_moren.click(function(){
            data = {"type":0,"price":0,"scene":0,"page":0,"pagesize":12};
            $('.ty_topls_active').removeClass('ty_topls_active');
            $('.ty_ls_active').removeClass('ty_ls_active');
            J_ty_typein.html("类型");
            J_ty_pricein.html("价位");
            J_ty_scenein.html("场景");
            J_ty_box.hide();
            if(ajax){ // 终止正在进行的ajax
                ajax.abort()
            };
            getajax(true); //获取列表数据
        });

        // 根据参数设置默认项  !!!!  如果后端渲染高亮  可以把以下忽略这个块代码
        if(sc.type){
            var tar = $('.J_ty_ls_t[data-value='+sc.type+']'),key=tar.attr('data-key');
            tar.addClass('ty_ls_active');
            J_ty_typein.html(key);
            J_ty_typein.parent().addClass('ty_topls_active');
            data.type = sc.type;
        };

        if (<%= params[:category_id].present? %>) {
            data.type = <%= params[:category_id].to_i %>
            var p_cat = $('.J_ty_ls_t[data-value="<%= params[:category_id].to_i %>"]'),value = p_cat.attr('data-value'),key = p_cat.attr('data-key'),par = J_ty_typein.parent();
            setin2(p_cat,J_ty_typein,par,value,key,"type");

            getprice();
        }

        // 获取列表数据
        getajax();
        var ajax = '';
        function getajax(first){
            if(first){
                J_wlist.html('');
                isdone = false;
            };
            // ajax获取列表数据
            isajax = true;
            J_moretext.html("正在加载···");
            ajax = $.ajax({ 
                type: "GET",
                url: "/wap/items",
                data: {data},
                dataType: "json",
                success: function(res){
                    if(res.code){
                        var dt = res.data,len = dt.length,str = '';
                        for(var i=0;i<len;i++){
                            var v = dt[i];
                            str += '<a href="/wap/items/'+v.pid+'" class="witem">\
                                    <p><img src="'+v.imgsrc+'" class="witem_img"></p>\
                                    <p class="witem_name">'+v.name+'</p>\
                                    <p class="witem_pn"><span class="witem_p">￥'+parseFloat(v.price).toFixed(2)+'</span>已售&ensp;'+v.sold+'</p>\
                                </a>';
                        };
                        if(len<data.pagesize){
                            isdone = true;
                            J_moretext.html("没有更多了");
                        }else{
                            J_moretext.html("点击加载更多");
                        };

                        J_wlist.append(str);
                    }
                }
            });
        };

        // 点击加载更多
        J_more.click(function(){
            if(isdone){
                CUES.tip({"msg":"没有更多了","type":"danger"});
                return false;
            };
            data.page++;
            getajax();
        });

    });
</script>