<div class="html mine_address_detial">
    <div class="formline">
        <div class="fline">
            <span class="ado">收货人姓名</span>
            <div class="input_line"><input type="text" name="" class="ctrol" placeholder="请填写收货人姓名" id="J_name" value="<%= @address.username %>"></div>
        </div>
        <div class="fline">
            <span class="ado">手机号码</span>
            <div class="input_line"><input type="text" name="" class="ctrol" placeholder="请填写收货电话" id="J_phone" value="<%= @address.mobile %>"></div>
        </div>
        <div class="fline">
            <span class="ado">所在地区</span>
            <div class="input_select input_select_three">
                <select class="ctrol ctrol_select" id="J_sheng">
                    <option value="0">选择省</option>
                    <% Province.pluck(:id, :name).each do |province| %>
                        <% if @address.province_id == province[0] %>
                            <option value="<%= province[0] %>" selected="selected"><%= province[1] %></option>
                        <% else %>
                            <option value="<%= province[0] %>"><%= province[1] %></option>
                        <% end %>
                    <% end %>
                </select>
                <select class="ctrol ctrol_select" id="J_shi">
                    <option value="0">选择市</option>
                    <% City.where(province_id: @address.province_id).pluck(:id, :name).each do |city| %>
                        <% if @address.city_id == city[0] %>
                            <option value="<%= city[0] %>" selected="selected"><%= city[1] %></option>
                        <% else %>
                            <option value="<%= city[0] %>"><%= city[1] %></option>
                        <% end %>
                    <% end %>
                </select>
                <select class="ctrol ctrol_select" id="J_qu">
                    <option value="0">选择区</option>
                    <% District.where(city_id: @address.city_id).pluck(:id, :name).each do |district| %>
                        <% if @address.district_id == district[0] %>
                            <option value="<%= district[0] %>" selected="selected"><%= district[1] %></option>
                        <% else %>
                            <option value="<%= district[0] %>"><%= district[1] %></option>
                        <% end %>
                    <% end %>
                </select>
            </div>
        </div>
        <div class="fline">
            <div class="input_textarea"><textarea class="ctrol_textarea" id="J_detial" placeholder="请填写详细地址，不少于5个字"><%= @address.address %></textarea></div>
        </div>
    </div>
    <div class="formline mt10">
        <div class="fline">
            <span class="ado">设为默认</span>
            <div class="input_switch"><a href="javascript:;" class="switch <%= 'switch_active' if @address.is_default %>" id="J_switch"></a></div>
        </div>
    </div>

</div>
<a href="javascript:;" class="bot_line_btn" id="J_add">保存</a>
<script type="text/javascript">
    $(function(){
        var J_switch = $('#J_switch'),
            J_add = $('#J_add'),
            J_sheng = $('#J_sheng'),
            J_shi = $('#J_shi'),
            J_qu = $('#J_qu'),
            data = {}, // 保存提交的数据
            sc = getRequest();

        var isajax = false; //设置开关 防止重复提交

        if(sc.adid){
            J_add.html('保存并更新');
        };

        // 设置是否默认并保存值
        data.is_default = false;
        J_switch.click(function(){
            var self = $(this);
            if(self.hasClass('switch_active')){
                self.removeClass('switch_active');
                data.is_default = false;
            }else{
                self.addClass('switch_active');
                data.is_default = true;
            }
        });

        // 省市区联动
        J_sheng.change(function(){
            var vid = $(this).val();
            if(vid==0){// 表示未选择
                J_shi.html('<option value="0">选择市</option>');
            }else{
                isajax = true;
                // ajax请求市内容
                $.ajax({ 
                    type: "GET",
                    url: "/wap/cities?province_id="+vid,
                    data: {},
                    dataType: "json",
                    success: function(res){
                        isajax = false;
                        if(res.code){
                            var dt = res.data,len = dt.length,str = '';
                            for(var i=0;i<len;i++){
                                var v = dt[i];
                                str+='<option value="'+v.id+'">'+v.name+'</option>';
                            };
                            J_shi.html('<option value="0">选择市</option>'+str);
                            J_qu.html('<option value="0">选择区</option>');
                        }
                    }
                });
            }
        });
        J_shi.change(function(){
            var vid = $(this).val();
            if(vid==0){// 表示未选择
                J_qu.html('<option value="0">选择区</option>');
            }else{
                isajax = true;
                // ajax请求市内容
                $.ajax({ 
                    type: "GET",
                    url: "/wap/districts?city_id="+vid,
                    data: {},
                    dataType: "json",
                    success: function(res){
                        isajax = false;
                        if(res.code){
                            var dt = res.data,len = dt.length,str = '';
                            for(var i=0;i<len;i++){
                                var v = dt[i];
                                str+='<option value="'+v.id+'">'+v.name+'</option>';
                            };
                            J_qu.html('<option value="0">选择区</option>'+str);
                        }
                    }
                });
            };
        });

        // 保存
        J_add.click(function(){
            var name = $('#J_name').val().trim();
            if(!name.length){
                CUES.tip({"msg":"请填写收货人姓名","type":"danger"})
                return false;
            };
            var regphone = /^[1][0-9]{10}$/ig,
                phone = $('#J_phone').val().trim();
            if(!regphone.test(phone)){
                CUES.tip({"msg":"手机号不正确","type":"danger"})
                return false;
            };
            if(J_sheng.val()==0){
                CUES.tip({"msg":"请选择省份","type":"danger"})
                return false;
            };
            if(J_shi.val()==0){
                CUES.tip({"msg":"请选择市","type":"danger"})
                return false;
            };
            if(J_qu.val()==0){
                CUES.tip({"msg":"请选择区","type":"danger"})
                return false;
            };
            var detial = $('#J_detial').val().trim();
            if(detial.length<=5){
                CUES.tip({"msg":"详细地址过短","type":"danger"})
                return false;
            };

            data.username = name;
            data.mobile = phone;
            data.province_id = J_sheng.val();
            data.city_id = J_shi.val();
            data.district_id = J_qu.val();
            data.address = detial;

            console.log(data);

            isajax = true;
            // ajax保存地址
            $.ajax({ 
                type: "<%= @address.new_record? ? 'POST' : 'PUT' %>",
                url: "<%= @address.new_record? ? '/wap/addresses' : '/wap/addresses/'+@address.id.to_s %>",
                data: {data},
                dataType: "json",
                success: function(res){
                    isajax = false;
                    if(res.code){
                        CUES.tip({"msg":"保存成功","type":"success","callback":function(){
                            window.location.href = "/wap/addresses";
                        }});
                    }
                }
            });
        });

    });
</script>
