<% title "我的收货地址" %>
<div class="html mine_address">
  <% if @addresses.each do |address| %>
    <div class="item">
      <div class="infos">
        <p class="namep"><%= address.username %>&ensp;&ensp;<%= address.mobile %></p>
        <p class="adres"><%= [address.try(:province).try(:name), address.try(:city).try(:name), address.try(:district).try(:name), address.address].join('') %></p>
      </div>
      <div class="operate">
        <% if address.is_default %>
          <a href="javascript:;" class="J_moren moren moren_active" data-adid="<%= address.id %>" value="address.is_default">设为默认</a>
        <% else %>
          <a href="javascript:;" class="J_moren moren" data-adid="<%= address.id %>" value="address.is_default" >设为默认</a>
        <% end %>
        <p class="do">
          <%= link_to '编辑', edit_wap_address_path(address), class: "does doesa"%>
          <a href="javascript:;" data-adid="<%= address.id %>" class="J_del does doesb">删除</a>
        </p>
      </div>
    </div>
  <% end.blank? %>
    <!-- 地址为空的时候使用以下代码 start -->
    <div class="empty">
        <img src="/wap/assets/images/adr_em.png" class="eimg">
        <p class="etext">暂无收货地址</p>
    </div>
    <!-- end -->

  <% end %>
</div>
<a href="/wap/addresses/new" class="bot_line_btn"><img class="bicona" src="/wap/assets/images/add_adr.png">新增收货地址</a>
<!-- <a href="/wap/users" class="homebtn">个人<br>中心</a> -->
<script type="text/javascript">
	$(function(){
		var J_moren = $('.J_moren'),
			J_del = $('.J_del');

		var isajax = false; //设置开关 防止重复提交

		// 设置默认地址
		J_moren.click(function(){
			var self = $(this),adid = self.attr('data-adid');
			if(!self.hasClass('moren_active')){
				isajax = true;
				// ajax保存手机号
				$.ajax({
					type: "POST",
					url: "/wap/addresses/" + adid + "/set_default",
					data: {"id": adid},
					dataType: "json",
					success: function(res){
						isajax = false;
						if(res.status){
							CUES.tip({"msg":"设置成功","type":"success"});
							J_moren.removeClass('moren_active');
							self.addClass('moren_active');
						}
					}
				});
			}
		});

		// 删除地址
		J_del.click(function(){
			var self = $(this),adid = self.attr('data-adid'),item = self.parent().parent().parent();
			CUES.confirm({"msg":"确认要删除该地址吗？","callback":function(){
				isajax = true;
				// ajax保存手机号
				$.ajax({
					type: "DELETE",
					url: "/wap/addresses/" + adid ,
					data: {},
					dataType: "json",
					success: function(res){
						isajax = false;
						if(res.code){
							CUES.tip({"msg":"删除成功","type":"success"});
							item.slideUp();
						}
					}
				});
			}})
		});
	});
</script>
