<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '订单管理', console_url %></li>
        <li><%= link_to '订单设置', ec_order_rules_path%></li>
      </ul>
      <%#= render '/layouts/qrcode' %>
    </div>
    <div class="page-content">
      <div class="tabbabled">
        <%= render "ec/order_rules/top_tab" %>
        <br>
        <div class="row">
          <div class="col-md-12">
            <%= form_for @order_rule, validate: true, html: {class: 'form col-sm-12'} do |f| %>
              <div>
                <label>
                  <%= f.check_box :is_auto_expire, class: "ace"  %>
                  <span class="lbl">未支付订单是否自动关闭</span>
                </label>
              </div>
              <div class="form-group">
                <label>自动关闭时间（小时）<label>
                <div class="clearfix">
                  <%= f.text_field :expires_in, maxlength: 8, class: "col-xs-12" %>
                </div>
              </div>

              <div>
                <label>
                  <%= f.check_box :is_auto_confirm, class: "ace"  %>
                  <span class="lbl">已发货订单是否自动确认收货</span>
                </label>
              </div>
              <div class="form-group">
                <label>自动确认收货时间（天）<label>
                <div class="clearfix">
                  <%= f.text_field :confirms_in, maxlength: 8, class: "col-xs-12" %>
                </div>
              </div>
<!-- 
              <div>
                <label>
                  <%= f.check_box :is_auto_close_refund_func, class: "ace"  %>
                  <span class="lbl">已收货订单是否（xx天后）关闭退款/退货功能</span>
                </label>
              </div>
              <div class="form-group">
                <label>关闭退款/退货功能时间（天）<label>
                <div class="clearfix">
                  <%= f.text_field :close_refund_in, maxlength: 8, class: "col-xs-12" %>
                </div>
              </div>
 -->
<!--               <div>
                <label>
                  <%= f.check_box :is_auto_comment, class: "ace"  %>
                  <span class="lbl">已收货订单是否自动评价</span>
                </label>
              </div>
              <div class="form-group">
                <label>自动评价时间（天）<label>
                <div class="clearfix">
                  <%= f.text_field :comments_in, maxlength: 8, class: "col-xs-12" %>
                </div>
              </div>
 -->
              <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary form-submit" data-fn="submit">提交</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
