<style type="text/css">
  .select-ec {
    width: 150px;
  }
</style>
<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '商城管理', 'javascript:;' %></li>
        <li><%= link_to '商品管理', ec_products_path %></li>
        <li><%= link_to '商品规格', 'javascript:;' %></li>
      </ul>
    </div>

    <div class="page-content">
      <div class="tabbable">
        <%= render "ec/product_categories/top_categories" %>

        <div class="col-md-12 margin-top-20 no-padding">
          <div class="col-md-6">
            <a href="<%= edit_ec_product_path(@product) %>" class="btn btn-primary btn-sm"><%= @product.name %></a>
          </div>
          <div class="col-md-6">
            <a href="javascript:;" class="btn btn-primary btn-sm pull-right" data-target="addVote" data-toggle="modals" data-title="新增规格" data-height="560" data-iframe="<%= new_ec_item_path(ec_product_id: @product.id) %>">新增规格</a>
          </div>
        </div>

        <div class=" col-md-12 margin-top-10">
          <table id="rolesTable" class="table table-striped table-bordered table-hover dataTable m">
            <thead>
              <tr>
                <!-- <th>商品名称</th> -->
                <th>规格</th>
                <!-- <th>类型</th> -->
                <th>SKU</th>
                <th>市场价</th>
                <th>零售价</th>
                <th>库存</th>
                <th>已售库存</th>
                <th>设置已售</th>
                <th>净重</th>
                <th>体积</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tboday>
              <% @items.each do |ec_item| %>
                <tr>
                  <!-- <td><%#= ec_item.ec_product.name %></td> -->
                  <td><%= ec_item.name %></td>
                  <!-- <td><%= ec_item.product_type_name %></td> -->
                  <td><%= ec_item.sku %></td>
                  <td><%= f ec_item.market_price %></td>
                  <td><%= ec_item.price %></td>
                  <td><%= ec_item.qty %></td>
                  <td><%= ec_item.sold_qty %></td>
                  <td><%= ec_item.display_sold_qty %></td>
                  <td><%= ec_item.weight %></td>
                  <td><%= ec_item.volume %></td>
                  <td><%= ec_item.status_name %></td>
                  <td>
                    <% if ec_item.onshelf? %>
                      <a><%= link_to '下架', off_shelf_ec_item_path(ec_item, item_id: ec_item.id) %></a>
                    <% end %>
                    <% if ec_item.offshelf? || ec_item.draft? %>
                      <a><%= link_to '上架', on_shelf_ec_item_path(ec_item, item_id: ec_item.id) %></a>
                    <% end %>
                    <%= link_to '编辑', 'javascript:;', data: {toggle: 'modals', target: 'roleModal', title: '编辑推荐', width: '500', height: '680', iframe: ec_item_path(ec_item)} %>
                    <%= link_to '删除', ec_item_path(ec_item),method: :delete, data:{confirm: "确定删除？"} %>
                  </td>
                </tr>
              <% end %>
              <% if @items.count == 0 %>
                <tr>
                  <td colspan="12"><span class="green">无记录</span></td>
                </tr>
              <% end %>
            </tboday>
          </table>
          <%#= paginate @items %>
        </div>
      </div>
    </div>

  </div>
<% end %>
