<table class="table table-striped table-bordered table-hover table-down margin-top-10 logistic_template" id="table_<%= k %>" style="display: <%= 'none' unless EcLogisticTemplate.valuation_method_display(f.object.valuation_method) == k %>">
  <thead>
  <tr>
    <th width="50%">目的地</th>
    <th width="10%">首重（KG）</th>
    <th width="10%">运费（元）</th>
    <th width="10%">续重（KG）</th>
    <th width="10%">运费（元）</th>
    <th width="10%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% if EcLogisticTemplate.valuation_method_display(f.object.valuation_method) == k %>
      <% f.object.ec_logistic_template_items.each_with_index do |l, i| %>
          <%= f.fields_for :ec_logistic_template_items, l do |ltm| %>
              <tr>
                <td style="display: none;">
                  <%= ltm.check_box '_destroy', style:'display:none' %>
                  <%= ltm.hidden_field :is_default %>
                </td>
                <td>
                  <% if i == 0 %>
                      <span class="line-height-32"><%= ltm.object.city_list.join(",")%></span>
                  <% else %>
                      <span class="line-height-32 margin-right-10"><%= ltm.object.city_list.join(",")%></span>
                      <a class="line-height-32" data-toggle="modal" href="#editPostModal">编辑</a>
                  <% end %>
                  <%= ltm.hidden_field :cities_str, value: ltm.object.city_list.join(",") %>
                </td>
                <td>
                  <%= ltm.text_field :first_unit, class: 'input-number', size: 10 %>
                </td>
                <td>
                  <%= ltm.text_field :first_unit_freight, class: 'input-number', size: 10 %>
                </td>
                <td>
                  <%= ltm.text_field :add_unit, class: 'input-number', size: 10 %>
                </td>
                <td>
                  <%= ltm.text_field :add_unit_freight, class: 'input-number', size: 10 %>
                </td>
                <td>
                  <% if i == 0 %>
                     <span class="line-height-32">默认</span>
                  <% else %>
                     <a class="line-height-32 btn-remove" href="javascript:;">删除</a>
                  <% end %>
                </td>
              </tr>
          <% end %>
      <% end %>
  <% else %>
      <% uuid =  SecureRandom.uuid %>
      <tr>
        <td style="display: none;">
          <input type="checkbox" name="ec_logistic_template[ec_logistic_template_items_attributes][<%= uuid %>][_destroy]" style="display:none">
          <input type="hidden" name="ec_logistic_template[ec_logistic_template_items_attributes][<%= uuid %>][is_default]" value="1">
        </td>
        <td>
          <span class="line-height-32">全国</span>
          <input type="hidden" name="ec_logistic_template[ec_logistic_template_items_attributes][<%= uuid %>][cities_str]" value="全国">
        </td>
        <td>
          <input type="text" name="ec_logistic_template[ec_logistic_template_items_attributes][<%= uuid %>][first_unit]" class="input-number" value="1" size="10">
        </td>
        <td>
          <input type="text" name="ec_logistic_template[ec_logistic_template_items_attributes][<%= uuid %>][first_unit_freight]" class="input-number" size="10">
        </td>
        <td>
          <input type="text" name="ec_logistic_template[ec_logistic_template_items_attributes][<%= uuid %>][add_unit]" class="input-number" value="1" size="10">
        </td>
        <td>
          <input type="text" name="ec_logistic_template[ec_logistic_template_items_attributes][<%= uuid %>][add_unit_freight]" class="input-number" size="10">
        </td>
        <td>
          <span class="line-height-32">默认</span>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div template_class="template_<%= k %>" style="display: none;">
  <table>
    <tr>
      <td style="display: none;">
        <input type="checkbox" style="display:none">
      </td>
      <td>
        <span class="line-height-32 margin-right-10">未添加地区</span>
        <a class="line-height-32" data-toggle="modal" href="#editPostModal">编辑</a>
        <input type="hidden">
      </td>
      <td>
        <input type="text" class="input-number" value="1" size="10">
      </td>
      <td>
        <input type="text" class="input-number" size="10">
      </td>
      <td>
        <input type="text" class="input-number" value="1" size="10">
      </td>
      <td>
        <input type="text" class="input-number" size="10">
      </td>
      <td>
        <a class="line-height-32 btn-remove" href="javascript:;">删除</a>
      </td>
    </tr>
  </table>
</div>
