<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li><%= link_to '商城设置', ec_slides_path %></li>
          <li><%= link_to '物流运费', ec_logistic_templates_path %></li>
        </ul>
        <%#= render '/layouts/qrcode' %>
      </div>
      <div class="page-content">
        <%= render "ec/logistic_companies/top_logistic_companies" %>
        <div class="row">
          <div class="col-sm-12 margin-top-20">
            <!-- <ul class="nav nav-tabs padding-24 tab-size-bigger">
              <li class="active">
                <%#= link_to '送货上门', ec_logistic_templates_path %>
              </li>
              <li>
                <%#= link_to '门店自提', 'admin_shipping_settings_url' %>
              </li>
            </ul> -->
            <div class="col-sm-12" style="margin-left: 10px;">

              <div class="content-hd">
                <div class="alert alert-block alert-success">
                  <!-- 可设置“送货上门”和“门店自提”两种配送方式。送货上门 门店自提适合有线下实体门店的商户配置。 -->
                  可根据“商品重量”或“商品总金额”设置不同收货地区的运费模板。
                </div>
              </div>
              <div class="content-hd">
                <%= link_to new_ec_logistic_template_url, class: 'btn btn-info btn-sm tooltip-info' do %><i class="fa fa-plus"></i> 新增运费模板<% end %>
              </div>

              <div class="content-bd margin-top-20">
                <% @logistic_templates.each do |lt| %>
                    <table class="table table-striped table-bordered table-hover table-down">
                      <thead>
                      <tr>
                        <td colspan="<%= lt.weight? ? '2' : '1'%>"><%= lt.name %></td>
                        <td colspan="<%= lt.weight? ? '3' : '2'%>">最后编辑时间：<%= ([lt.updated_at] + [lt.ec_logistic_template_items.collect(&:updated_at)]).flatten.max %></td>
                        <td>
                          <%= link_to '编辑', edit_ec_logistic_template_url(lt) %>
                          <%= link_to '删除', ec_logistic_template_url(lt), class: 'J-remove', data: {confirm: '确认删除?', method: :delete} %>
                        </td>
                      </tr>
                      <tr>
                        <th width="10%">配送方式</th>
                        <th width="50%">目的地</th>
                        <% if lt.weight? %>
                            <th width="10%">首重（KG）</th>
                            <th width="10%">运费（元）</th>
                            <th width="10%">续重（KG）</th>
                            <th width="10%">运费（元）</th>
                        <% elsif lt.money? %>
                            <th width="20%">商品总额满（元）</th>
                            <th width="20%">运费（元）</th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody>
                      <% lt.ec_logistic_template_items.each do |ltm| %>
                          <tr>
                            <td>送货上门</td>
                            <td><%= ltm.city_list.join("、") %></td>
                            <% if lt.weight? %>
                                <td><%= ltm.first_unit %></td>
                                <td><%= ltm.first_unit_freight %></td>
                                <td><%= ltm.add_unit %></td>
                                <td><%= ltm.add_unit_freight %></td>
                            <% elsif lt.money? %>
                                <td><%= ltm.single_order_amount %></td>
                                <td><%= ltm.single_order_amount_freight %></td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <% end %>
              </div>
              <div class="content-ft clearfix">
                <%= paginate @logistic_templates %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
